<%--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2007, 2014 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
--%>
<c:set var="inherited" value=""/>
<c:if test="${spot.marketingSpotIdentifier.externalIdentifier.storeIdentifier.uniqueID != param.storeId}">
	<c:set var="inherited" value="Inherited"/>
</c:if>

<%-- If this is a "widget" generated eSpot prevent the user from modifying it --%>
<c:set var="readOnly" value="" />
<c:set var="deletable" value="" />
<c:set var="moveable" value="" />
<c:if test="${!empty spot.UIDisplayable && spot.UIDisplayable == 0}">
	<c:set var="readOnly" value="readonly='true'" />
	<c:set var="deletable" value="deletable='false'" />
	<c:set var="moveable" value="moveable='false'" />
</c:if>

<object objectType="${inherited}EMarketingSpot" ${readOnly} ${deletable} ${moveable}>
	<uniqueId>${spot.marketingSpotIdentifier.uniqueID}</uniqueId>
	<objectStoreId>${spot.marketingSpotIdentifier.externalIdentifier.storeIdentifier.uniqueID}</objectStoreId>
	<name><wcf:cdata data="${spot.marketingSpotIdentifier.externalIdentifier.name}"/></name>
	<description><wcf:cdata data="${spot.description}"/></description>
	<page>${spot.marketingSpotPage}</page>
	<order>${spot.marketingSpotOrder}</order>
	<UIDisplayable>${spot.UIDisplayable}</UIDisplayable>
	
	<supportsMarketingContent>${spot.supportsMarketingContent}</supportsMarketingContent>
	<supportsCatalogGroup>${spot.supportsCatalogGroup}</supportsCatalogGroup>
	<supportsCatalogEntry>${spot.supportsCatalogEntry}</supportsCatalogEntry>
	<supportsWidget>${spot.supportsWidget}</supportsWidget>
			
	<c:forEach var="userDataField" items="${spot.userData.userDataField}">
		<x_${userDataField.typedKey}><wcf:cdata data="${userDataField.typedValue}"/></x_${userDataField.typedKey}>
	</c:forEach>
			
	<jsp:include page="/cmc/SerializeChangeControlMetaData" />
</object>
