<%--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2007, 2011 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
--%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
<%@ taglib uri="http://commerce.ibm.com/foundation" prefix="wcf"%>

<c:forEach var="desc" items="${content.marketingContentDescription}">
	<object objectType="MarketingContentDescription">
		<languageId><wcf:cdata data="${desc.language}"/></languageId>
		<location><wcf:cdata data="${desc.location}"/></location>
		<text><wcf:cdata data="${desc.marketingText}"/></text>

		<c:forEach var="userDataField" items="${desc.userData.userDataField}">
			<xdesc_${userDataField.typedKey}><wcf:cdata data="${userDataField.typedValue}"/></xdesc_${userDataField.typedKey}>
		</c:forEach>
	</object>
</c:forEach>