<%--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2011 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
--%>

<object objectType="LocationPOI" readonly="true">
	<regionId>${poi.regionID}</regionId>
	<objectStoreId>${param.storeId}</objectStoreId>
	<pointOfInterestId>${poi.pointOfInterestIdentifier.uniqueID}</pointOfInterestId>
	<name><wcf:cdata data="${poi.pointOfInterestIdentifier.externalIdentifier.identifier}"/></name>
	<description><wcf:cdata data="${poi.pointOfInterestIdentifier.externalIdentifier.identifier}"/></description>
</object>
