<%--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2007, 2014 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
--%>
<c:set var="inherited" value=""/>
<c:if test="${content.marketingContentIdentifier.externalIdentifier.storeIdentifier.uniqueID != param.storeId}">
	<c:set var="inherited" value="Inherited"/>
</c:if>

<object objectType="${inherited}MarketingContent">
	<uniqueId>${content.marketingContentIdentifier.uniqueID}</uniqueId>
	<objectStoreId>${content.marketingContentIdentifier.externalIdentifier.storeIdentifier.uniqueID}</objectStoreId>
	<name><wcf:cdata data="${content.marketingContentIdentifier.externalIdentifier.name}"/></name>
	<format><wcf:cdata data="${content.marketingContentFormat.name}"/></format>
	<behavior><wcf:cdata data="${content.marketingSpotBehavior}"/></behavior>
	<clickAction><wcf:cdata data="${content.clickAction}"/></clickAction>
	<c:if test="${content.clickAction == 'Multiple'}">
		<inputOption><wcf:cdata data="${content.inputOption}"/></inputOption>
	</c:if>
	<url><wcf:cdata data="${content.url}"/></url>
	<mimeType><wcf:cdata data="${content.mimeType}"/></mimeType>
	<ovrMktLimit><wcf:cdata data="${content.ovrMktLimit}"/></ovrMktLimit>
	<c:forEach var="userDataField" items="${content.userData.userDataField}">
		<x_${userDataField.typedKey}><wcf:cdata data="${userDataField.typedValue}"/></x_${userDataField.typedKey}>
	</c:forEach>
	<jsp:directive.include file="SerializeMarketingContentDescription.jspf" />
	<jsp:directive.include file="SerializeMarketingContentImageMap.jspf" />
	<jsp:include page="/cmc/SerializeChangeControlMetaData" />
</object>
