<%--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2007, 2008 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
--%>

<c:set var="objectType" value="CatalogFilterAttributeSet"/>

<object	objectType="${objectType}">
			<uniqueId>${catalogFilterAttributeSet.conditionGroupIdentifier.uniqueID}</uniqueId>
			<name><wcf:cdata data="${catalogFilterAttributeSet.conditionGroupIdentifier.externalIdentifier.identifier}"/></name>
			<relation><wcf:cdata data="${catalogFilterAttributeSet.conditionRelation}"/></relation>
			<c:forEach var="catalogFilterCondition" items="${catalogFilterAttributeSet.condition}">
				<jsp:directive.include file="SerializeCatalogFilterCondition.jspf" />
			</c:forEach>
</object>