<!--
  Licensed Materials - Property of IBM 

  IBM Configure, Price , Quote (5725 D11)

  (c) Copyright IBM Corp. 2015, 2016 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or disclosure restricted
  by GSA ADP Schedule Contract with IBM Corp. 
-->

<!DOCTYPE html>
<html lang="en" ng-app="ibmConfiguratorApp">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />

	<style>
		/* This helps the ng-show/ng-hide animations start at the right place. */
		/* Since Angular has this but needs to load, this gives us the class early. */
        .ng-hide { display: none!important; }
	</style>
	<title>IBM Configurator</title>
	<link rel="stylesheet" href="styles/lib.css">

	<link rel="stylesheet" href="styles/app.css">


</head>
<body>
	<div class="ibm-omni-configurator">
		<div>
			<div ng-include="'app/shell/shell.html'"></div>
		</div>

		<div id="loadingMask" ng-if="showLoadingMask">
			<div class="page-splash">
				<div class="page-splash-message">
					<img id="loadingImg" alt="Loading Image" src="images/loading.gif" />
				</div>
			</div>
		</div>
	</div>



	<script src="js/lib.js"></script>
	<script src="js/app.js"></script>
	</body>

</html>
	