.dojoxCalendarColumnView {
  cursor: default;
  -webkit-user-select: none;
}
.dojoxCalendarColumnView .dojoxCalendarHeader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dojoxCalendarColumnView .dojoxCalendarScrollContainer {
  left: 0;
  right: 0;
  bottom: 0;
  top: 72px;
  position: absolute;
  overflow-y: hidden;
  overflow-x: hidden;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dojoxCalendarColumnView .dojoxCalendarGrid {
  position: absolute;
  left: 70px;
  right: 0;
}
.dojoxCalendarColumnView .dojoxCalendarGridTable {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}
.dojoxCalendarColumnView .dojoxCalendarGridTable td {
  border-top: dotted 1px #B5BCC7;
  border-right: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dojoxCalendarColumnView td.hour {
  border-top: 1px solid #cccccc;
}
.dojoxCalendarColumnView td.halfhour {
  border-top: dotted 1px #cccccc;
}
.dojoxCalendarColumnView td.quarterhour {
  border-top: dotted 1px #cccccc;
}
.dojoxCalendarColumnView span.hour {
  color: #555555;
  background-color: #ffffff;
}
.claro .dojoxCalendarColumnView span.halfhour,
.claro .dojoxCalendarColumnView span.quarterhour {
  color: #888888;
  background-color: #ffffff;
}
.dojoxCalendarColumnView .dojoxCalendarContainer {
  position: absolute;
  top: 0;
  left: 70px;
  right: 0;
  cursor: default;
}
.dojoxCalendarColumnView .dojoxCalendarContainerTable {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}
.dojoxCalendarColumnView .dojoxCalendarContainerTable td {
  height: 100%;
  padding: 0;
  vertical-align: top;
}
.dojoxCalendarColumnView .dojoxCalendarContainerColumn {
  position: relative;
  width: 100%;
}
.dojoxCalendarColumnView .dojoxCalendarSubContainerColumn {
  position: absolute;
  top: 0;
  box-sizing: border-box;
  height: 100%;
}
.dojoxCalendarColumnView .dojoxCalendarEventContainerColumn {
  position: relative;
  height: 100%;
  margin-left: 1px;
  margin-right: 5px;
}
.dojoxCalendarColumnView .dojoxCalendarSubContainerColumn.subColumn {
  border-right: 1px solid #dddddd;
}
.dojoxCalendarColumnView .dojoxCalendarEventContainer {
  position: absolute;
  overflow: hidden;
  -moz-user-select: none;
  -webkit-user-select: none;
  khtml-user-select: none;
  user-select: none;
}
.dojoxCalendarColumnView .dojoxCalendarYearColumnHeader {
  position: absolute;
  height: 30px;
  left: 0;
  width: 70px;
  top: 0;
  text-align: center;
  color: #cccccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dojoxCalendarColumnView .dojoxCalendarYearColumnHeader table {
  position: relative;
  width: 100%;
  height: 100%;
}
.dojoxCalendarColumnView .dojoxCalendarYearColumnHeader table td {
  text-align: center;
  vertical-align: middle;
  color: #cccccc;
}
.dojoxCalendarColumnView .dojoxCalendarColumnHeader {
  position: absolute;
  height: 30px;
  left: 70px;
  right: 0;
  top: 0;
  cursor: default;
}
.dojoxCalendarColumnView .dojoxCalendarColumnHeaderTable {
  border-collapse: collapse;
  table-layout: fixed;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.dojoxCalendarColumnView .dojoxCalendarColumnHeaderTable td {
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  color: #cccccc;
  color: #cccccc;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #cccccc;
  -moz-user-select: none;
  -webkit-user-select: none;
  khtml-user-select: none;
  user-select: none;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* 
 * The dojoxCalendarToday & dojoxCalendarWeekend classes is added by the 
 * ColumnView.styleColumnHeaderCell method that can be subclassed to add/remove css classes
 */
.dojoxCalendarColumnView .dojoxCalendarColumnHeaderTable .dojoxCalendarToday {
  color: #295bb3;
}
.dojoxCalendarColumnView .dojoxCalendarRowHeader {
  position: absolute;
  width: 70px;
  cursor: default;
  border-right: 1px solid #cccccc;
  height: 100%;
  -moz-user-select: none;
  -webkit-user-select: none;
  khtml-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dojoxCalendarColumnView .dojoxCalendarRowHeaderLabelContainer {
  width: 100%;
  height: 100%;
  z-index: 10;
}
.dojoxCalendarColumnView .dojoxCalendarRowHeaderLabel {
  right: 4px;
  position: absolute;
}
.dojoxCalendarColumnView .dojoxCalendarRowHeaderTable {
  border-collapse: collapse;
  table-layout: fixed;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
/* 
 * The ColumnView.styleRowHeaderCell method that can be subclassed to add/remove css classes per hour.
 */
.dojoxCalendarColumnView .dojoxCalendarRowHeaderTable td {
  vertical-align: top;
  text-align: right;
  color: #cccccc;
  border-top: 1px solid transparent;
}
.dojoxCalendarColumnView .dojoxCalendarRowHeaderTable tr:first-child td {
  border-top: 1px solid transparent;
}
.dojoxCalendarColumnView .dojoxCalendarRowHeaderTable td span {
  padding-top: 2px;
  padding-right: 4px;
}
.dojoxCalendarColumnView .dojoxCalendarEvent {
  position: absolute;
  text-align: left;
  color: #FFF;
  cursor: default;
}
.dojoxCalendarColumnView .dojoxCalendarEvent .bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  border: 1px solid #260000;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #9F0000;
  filter: alpha(opacity=90);
  opacity: 0.9;
}
.dojoxCalendarColumnView .dojoxCalendarEvent.Hovered .bg {
  background-color: #CC0000;
}
.dojoxCalendarColumnView .dojoxCalendarEvent.Selected .bg {
  background-color: #660000;
}
.dojoxCalendarColumnView .dojoxCalendarEvent.Edited .bg {
  border: dashed 1px #FFFFFF;
  filter: alpha(opacity=70);
  opacity: 0.7;
}
.dojoxCalendarColumnView .dojoxCalendarEvent.Focused .bg {
  border: dashed 1px #FFFFFF;
}
.dojoxCalendarColumnView .dojoxCalendarEvent .startTime {
  font-weight: bold;
}
.dojoxCalendarColumnView .dojoxCalendarEvent .endTime {
  position: absolute;
  font-weight: bold;
  bottom: 10px;
  left: 3px;
}
.dojoxCalendarColumnView .dojoxCalendarEvent .beforeIcon {
  text-align: center;
}
.dojoxCalendarColumnView .dojoxCalendarEvent .afterIcon {
  position: absolute;
  bottom: 2px;
  width: 100%;
  text-align: center;
}
.dojoxCalendarColumnView .dojoxCalendarEvent .handle {
  z-index: 2;
  background: #00FF00;
  filter: alpha(opacity=0);
  opacity: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  khtml-user-select: none;
  user-select: none;
}
.dojoxCalendarEvent .resizeHandle div {
  position: absolute;
  left: 3px;
  right: 3px;
  top: 2px;
  height: 24px;
  background-color: #fff;
  filter: alpha(opacity=30);
  opacity: 0.3;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.dojoxCalendarEvent .resizeHandle div:active {
  filter: alpha(opacity=60);
  opacity: 0.6;
}
.dojoxCalendarColumnView .dojoxCalendarEvent .moveHandle {
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  cursor: move;
}
.dojoxCalendarColumnView .dojoxCalendarEvent .resizeStartHandle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  z-index: 2;
}
.dojoxCalendarColumnView .dojoxCalendarEvent .resizeEndHandle {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  z-index: 2;
}
.dojoxCalendarColumnView .dojoxCalendarEvent dl {
  margin: 0;
}
.dojoxCalendarColumnView .dojoxCalendarEvent dd {
  margin: 0;
  padding: 0 3px;
  text-align: left;
}
.dojoxCalendarEvent.Edited dd {
  margin-top: 7px;
}
.dojoxCalendarColumnView .dojoxCalendarVScrollBar {
  position: absolute;
  top: 72px;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
.dojoxCalendarColumnView .dojoxCalendarMatrixView {
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  height: 39px;
}
.dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarGrid {
  position: absolute;
  left: 70px;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarContainer {
  position: absolute;
  top: 0;
  left: 70px;
  right: 0;
  bottom: 0;
  cursor: default;
}
.dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarRowHeader {
  position: absolute;
  left: 0;
  top: 0;
  width: 70px;
  bottom: 0;
  border-right: none;
  border-left: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarGridTable td {
  text-align: right;
  vertical-align: top;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarGridTable tr.last-child td {
  border-bottom: 1px solid #cccccc;
}
.dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarGridTable td.last-child {
  border-right: 1px solid #cccccc;
}
.dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarRowHeaderTable td {
  border-top: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarEvent.dojoxHorizontal .labels {
  position: absolute;
  left: 3px;
  right: 1px;
  bottom: 2px;
  overflow: hidden;
}
.dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarEvent.dojoxHorizontal.Edited .labels {
  left: 33px;
  right: 31px;
}
.dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarEvent.dojoxLabel .labels {
  position: absolute;
  left: 2px;
  right: 2px;
  bottom: 0;
  overflow: hidden;
}
.dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarEvent .resizeHandle {
  top: auto;
  text-align: auto;
  position: absolute;
  width: 30px;
  height: 100%;
  background-color: #fff;
  filter: alpha(opacity=0);
  opacity: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  color: #000;
  text-align: center;
}
.dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarEvent .resizeHandle div {
  position: auto;
  width: auto;
  height: auto;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
  background-color: none;
  filter: alpha(opacity=100);
  opacity: 1;
  border: none;
}
.dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarEvent .resizeStartHandle span {
  position: absolute;
  bottom: 2px;
  left: 10px;
}
.dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarEvent .resizeEndHandle span {
  position: absolute;
  bottom: 2px;
  left: 10px;
}
.dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarEvent .moveHandle {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarEvent .resizeStartHandle {
  right: auto;
}
.dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarEvent .resizeEndHandle {
  right: 0px;
  left: auto;
}
.dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarEvent.Edited .resizeHandle {
  filter: alpha(opacity=30);
  opacity: 0.3;
}
.dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarEvent .afterIcon {
  width: auto;
}
.dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarEvent .endTime {
  position: relative;
  bottom: auto;
  left: auto;
}
.dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarExpand {
  position: absolute;
  text-align: center;
}
.dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarExpand .bg {
  position: relative;
  margin-right: 10%;
  margin-left: 10%;
  border-radius: 5px;
  height: 100%;
  -moz-user-select: none;
  -webkit-user-select: none;
  khtml-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  -moz-border-radius: 5px;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarExpand.Up .bg {
  background-color: #73abfa;
  border: 1px solid #cccccc;
}
.dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarExpand.Down .bg {
  background-color: #a5d1fb;
  border: 1px solid #cccccc;
}
.dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarEvent div {
  white-space: nowrap;
}
