/*
Copyright (c) 2003-2014, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license

Portions Copyright IBM Corp., 2010-2014.
*/

/*
dialog_opera.css
===============

This file contains styles to used by Opera only.
*/

/* Base it on dialog.css, overriding it with styles defined in this file. */
@import url("dialog.css");

/* Opera doesn't leave enough padding in text input for cursor to blink in RTL. (#6087) */
.cke_rtl input.cke_dialog_ui_input_text,
.cke_rtl input.cke_dialog_ui_input_password {
	padding: 1px 2px 0px 0px;
}

/* Compensate focus outline for some input elements. (#6200) */
.cke_dialog_ui_checkbox_input:focus,
.cke_dialog_ui_radio_input:focus,
.cke_dialog_contents .cke_btn_over
{
	outline: 1px dotted #696969;
}

/*Change the background color for disabled input fields so that any text within them can be seen*/
div.cke_disabled .cke_dialog_ui_labeled_content * {
	background-color : #e0e0e0;
}