/*
Copyright (c) 2003-2014, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license

Portions Copyright IBM Corp., 2010-2014.
*/

/*
dialog_ie8.css
===============

This file contains styles to used by Internet Explorer 8 only.
*/

/* Base it on dialog_ie.css, overriding it with styles defined in this file. */
@import url("dialog_ie.css");

/*Labels for fields on dialogs */
.cke_rtl .cke_dialog_ui_labeled_label {
	padding-right: 1px;
}

/*text input fields */
.cke_rtl .cke_dialog_ui_input_text {
	padding: 1px 2px 0px 0px;
}
