/*
Copyright (c) 2003-2014, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license

Portions Copyright IBM Corp., 2010-2014.
*/

/* The outer container of the dialog - restore the dialog visibility */
.cke_dialog {
	visibility: visible;
}

/* The inner boundary container. */
.cke_dialog_body {
	position: relative;
    border:1px solid #aaaaaa;
}

/* Due to our reset we have to recover the styles of some elements. */
/*strong */
.cke_dialog strong
{
	font-weight: bold;
}

/* The dialog title. */
.cke_dialog_title {
	position:relative;
	padding: 15px 20px;
	border-bottom:0;
	background: none no-repeat scroll 0 0 #325c80;
	margin-right:0;
	font: 1.25em  "Helvetica Neue Light",Helvetica,Arial,sans-serif;
	color: #FFFFFF;
	display: block;
	float: none;
	cursor: move;
    height: 15px;
}

/* The outer part of the dialog contants, which contains the contents body
   and the footer. */
 .cke_dialog_contents {
	background-color: #fff;
	overflow: auto;
	border-bottom: 1px solid #AAAAAA;
	max-height: 300px;
}

.cke_dialog_contents_body{
	padding: 14px 18px;
	border-bottom: 0 none;
}

/* The dialog footer, which usually contains the "Ok" and "Cancel" buttons as
   well as a rsizer handle. */
.cke_dialog_footer {
	background-color:#FFFFFF;
	text-align: right;
}

.cke_rtl .cke_dialog_footer {
	text-align:left;
}

/*.cke_dialog_footer .cke_resizer
{
	margin-top: 24px;
}

.cke_dialog_footer .cke_resizer_ltr
{
	border-right-color: #ccc;
}

.cke_dialog_footer .cke_resizer_rtl
{
	border-left-color: #ccc;
}

.cke_hc .cke_dialog_footer .cke_resizer
{
	margin-bottom: 1px;
}

.cke_hc .cke_dialog_footer .cke_resizer_ltr
{
	margin-right: 1px;
}

.cke_hc .cke_dialog_footer .cke_resizer_rtl
{
	margin-left: 1px;
}
*/

/*
 *-- Dialog Tabs -----------------------------------------------------------------------
 */
/* The main tabs container. */
.cke_dialog_tabs {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #03a0d6;
    display: block;
    height: 17px;
    padding: 15px 10px 5px 20px;
    z-index: 2;
}

.cke_rtl .cke_dialog_tabs {
	right: 10px;
}

a.cke_dialog_tab {
    padding-bottom: 7px;
}

/* A single tab (an <a> element). */
a.cke_dialog_tab,
a:link.cke_dialog_tab,
a:visited.cke_dialog_tab
a:hover.cke_dialog_tab,
a:active.cke_dialog_tab {
	cursor: pointer;
	text-decoration: none !important;
    background-color: #fff;
    font-weight: normal;
    margin-right: 15px;
    text-transform: uppercase;
    color: #292929 !important;
}

a.cke_dialog_tab:first-child,
a:link.cke_dialog_tab:first-child,
a:visited.cke_dialog_tab:first-child
a:hover.cke_dialog_tab:first-child,
a:active.cke_dialog_tab:first-child
{
	 border-left: 0 none;
}

.cke_rtl a.cke_dialog_tab:first-child,
.cke_rtl a:link.cke_dialog_tab:first-child,
.cke_rtl a:hover.cke_dialog_tab:first-child,
.cke_rtl a:visited.cke_dialog_tab:first-child,
.cke_rtl a:active.cke_dialog_tab:first-child
{
	 border-right: 0 none;
}

.cke_rtl a.cke_dialog_tab,
.cke_rtl a:link.cke_dialog_tab,
.cke_rtl a:visited.cke_dialog_tab,
.cke_rtl a:hover.cke_dialog_tab,
.cke_rtl a:active.cke_dialog_tab
{
	border:0 none;
}

.cke_hc a.cke_dialog_tab,
.cke_hc.cke_rtl a.cke_dialog_tab
{
	border: 0;
}

a.cke_dialog_tab_selected,
a.cke_dialog_tab_selected:link,
a.cke_dialog_tab_selected:visited,
a.cke_dialog_tab_selected:hover,
a.cke_dialog_tab_selected:active,
a.cke_dialog_tab_selected:focus
{
    background-color: #fff;
    border-bottom: 2px solid #03a0d6;
    color: #292929 !important;
    font-weight: bold;
    margin-right: 15px;
    text-transform: uppercase;
}

.cke_hc.cke_rtl a.cke_dialog_tab_selected,
.cke_hc.cke_rtl a.cke_dialog_tab_selected:link,
.cke_hc.cke_rtl a.cke_dialog_tab_selected:visited,
.cke_hc.cke_rtl a.cke_dialog_tab_selected:hover,
.cke_hc.cke_rtl a.cke_dialog_tab_selected:active,
.cke_hc a.cke_dialog_tab_selected,
.cke_hc a.cke_dialog_tab_selected:link,
.cke_hc a.cke_dialog_tab_selected:visited,
.cke_hc a.cke_dialog_tab_selected:hover,
.cke_hc a.cke_dialog_tab_selected:active {
	padding: 2px 8px;
	border: 1px solid;
}

/* The .cke_single_page class is appended to the dialog outer element in case
   of dialogs that has no tabs. */
.cke_single_page .cke_dialog_tabs {
	display: none;
}

.cke_single_page .cke_dialog_title {
	padding-bottom: 10px;
}

/* The close button at the top of the dialog. */
.cke_dialog .cke_dialog_body .cke_dialog_close_button {
    background-image: url(images/sprite.png);
    background-position:-11px -307px;
	/*background-position:0 -300px;*/
	background-repeat: no-repeat;
	cursor: pointer;
	position: absolute;
	height: 15px;
	width: 15px;
	top: 10px;
    right:10px;
}

.cke_dialog_close_button span {
	display: none;
}

.cke_ltr .cke_dialog_close_button {
	right: -14px;
}

.cke_rtl.cke_dialog .cke_dialog_body .cke_dialog_close_button {
  left: 10px;
  right: auto;
} 

.cke_hc.cke_ltr .cke_dialog_close_button{
	right : 14px;
}
.cke_hc.cke_rtl .cke_dialog_close_button {
	left : 14px;
}

.cke_hc.cke_ltr .cke_dialog_body .cke_dialog_close_button,
.cke_hc.cke_rtl .cke_dialog_body .cke_dialog_close_button {
	border: 1px solid #000000;
    padding: 3px;
	height: 15px;
	width: 7px;
	top: 10px;
}


/*Dialog UI Elements */
div.cke_disabled .cke_dialog_ui_labeled_content * {
	padding-left: 0;
	margin: 0;
	background-color : #a0a0a0;
	cursor : default;
}

/*Horizontal-Box and Vertical-Box */
.cke_dialog_ui_vbox table,
.cke_dialog_ui_hbox table {
	margin: auto;
}

.cke_dialog_ui_vbox_first,
.cke_dialog_ui_vbox_child,
.cke_dialog_ui_vbox_last {
	padding: 1px 0px 1px 0px;
}

.cke_dialog_ui_hbox {
	width: 100%;
}

.cke_dialog_ui_hbox_first,
.cke_dialog_ui_hbox_child,
.cke_dialog_ui_hbox_last {
	vertical-align: top;
	padding: 0px;
}

.cke_ltr .cke_dialog_ui_hbox_first,
.cke_ltr .cke_dialog_ui_hbox_child {
	padding: 0px 5px 0px 0px;
}

.cke_rtl .cke_dialog_ui_hbox_first,
.cke_rtl .cke_dialog_ui_hbox_child {
	padding: 0px 0px 0px 5px;
}

/*Text Input*/
input.cke_dialog_ui_input_text,
input.cke_dialog_ui_input_password {
	border: none;
	height: 18px;
	width: 97%;
	padding: 1px 0px;
}

div.cke_dialog_ui_input_text,
div.cke_dialog_ui_input_password {
	background-color: #FFFFFF;
	border: 1px solid #a0a0a0;
	padding: 1px 0px;
    height: 24px;
}

/*
Textarea */
textarea.cke_dialog_ui_input_textarea {
	background-color: #FFFFFF;
	border: 1px solid #a0a0a0;
	padding: 2px;
	width: 98%;
	overflow: auto;
	resize: none;
}

div.cke_dialog_ui_input_textarea {
	background-color: #FFFFFF;
}

/*
Button
*/
/* The outer part of the button. */
/*.cke a.cke_dialog_ui_button {*/
a.cke_dialog_ui_button {
	border-collapse:separate;
    background-color: #ffffff;
    background-image: none;
    border-radius: 0;
    border: 1px solid #4178be;
    color: #03a0d6;
    margin: 0;
    padding: 9px 18px;
    text-decoration: none;
	text-align:center;
	text-shadow:0 1px 1px #fff;
	cursor: pointer;
    height: 35px;
    max-height: 35px;
    box-sizing: border-box;    
    font-family: "Helvetica Neue Regular",Helvetica,Arial;
    font-weight: normal;
    margin: 0 4px 3px 1px;
    padding: 10px 20px;
    text-align: center;
    transform: translateZ(0px);
    transition-duration: 0.3s;
    transition-property: box-shadow;
}
/* style for the primary buttons */
a.cke_dialog_ui_primary_button {
	border-collapse:separate;
    background: none repeat scroll 0 0 #4178be;
    border-radius: 0;
    border: 0 none #4178be;
    color: #ffffff;
    text-decoration: none;
	text-align:center;
	cursor: pointer;
    height: 35px;
    max-height: 35px;
    box-sizing: border-box;    
    font-weight: normal;
    margin: 0 4px 3px 1px;
    padding: 12px 20px;
    transform: translateZ(0px);
    transition-duration: 0.3s;
    transition-property: box-shadow;    
    box-shadow: none;
    font-family: "Helvetica Neue Bold",Helvetica,Arial;
}

/* The inner part of the button. */
.cke_hc a.cke_dialog_ui_button {
	border: 1px solid #666;
	padding:4px 14px;
}

a.cke_dialog_ui_button span.cke_disabled {
	box-shadow:none !important;
	color : #7C7C7C !important;
	cursor:default !important;
}

a.cke_dialog_ui_button.cke_disabled {
	color:#aaaaaa !important;
    border: 1px solid #aaaaaa;
    opacity: 0.25;
	cursor:default !important;
}

.cke_hc a.cke_dialog_ui_button.cke_disabled{
	border: 1px solid #666666;
    padding: 4px 14px;
	opacity: 0.5;
}

/*.cke span.cke_dialog_ui_button {*/
span.cke_dialog_ui_button{
	display: inline-block;
	text-align: center;
	cursor: pointer;
	color: #4178be;
	font: 1em  "Helvetica Neue Light",Helvetica,Arial,sans-serif;
	font-weight:normal;
}

span.cke_dialog_ui_primary_button{
	display: inline-block;
	text-align: center;
	cursor: pointer;
	color: #ffffff;
	outline-color: #4178be;
	outline: 1px;
	font-size: 1.16em;
}

a.cke_dialog_ui_button:focus,
a.cke_dialog_ui_button:hover{
    color: #4178be;
    border-width: 2px;
    outline: none;
}
a.cke_dialog_ui_button:active  {
	/* border: 1px solid #3765a0; */
    background-color: #ebf3fc;
    color: #4178be;
    border-width:1px;
    outline: none;
}

a.cke_dialog_ui_primary_button:focus,
a.cke_dialog_ui_primary_button:hover{
   	border-width:1px;
   	outline: none;
   	background-color: #325c80;
}
a.cke_dialog_ui_primary_button:active  {
    background-color: #325c80;
    border: 1px solid #152935;
}

.cke_hc a.cke_dialog_ui_button:hover,
.cke_hc a.cke_dialog_ui_button:focus,
.cke_hc a.cke_dialog_ui_button:active{
	border-width: 2px;
	padding: 3px 13px;
    outline:1px;
}

/* A special container that holds the footer buttons. */
.cke_dialog_footer_buttons {
	display: inline-table;
	margin-right: 18px;
	margin-left: 18px;
    margin-bottom: 18px;
	width: auto;
}

.cke_dialog_footer_buttons span.cke_dialog_ui_button {
	margin: 12px 0;
	cursor: pointer;
}

/*
Styles for other dialog element types. 
*/
select.cke_dialog_ui_input_select {
	border: 1px solid #aaa;
    line-height: inherit;
    margin: 0;
    padding: 1px;
    text-overflow: ellipsis;
    width: auto;
}

.cke_hc div.cke_dialog_ui_select div.cke_dialog_ui_input_select {
	border: 1px solid #a0a0a0;
}

.cke_dialog_ui_input_file {
	width: 100%;
	height: 24px;
}

/*input.cke_dialog_ui_checkbox_input {*/
.cke_dialog_ui_checkbox_input {
	vertical-align: middle; /* Keep the checkbox label centered. */
}

/*
 * Some utility CSS classes for dialog authors.
 */
.cke_dialog .cke_dark_background {
	text-align : center;
	background-color: #fff;
}

/* Used to highlight entries on the special chars dialog as a user navigates through them */
.cke_dialog .cke_light_background {
	text-align : center;
	background-color: #E0DEDE;
	border: 1px solid #A0A0A0;
	padding : 1px;
}

.cke_dialog .cke_centered  {
	text-align: center;
}

/*.cke_dialog .cke_dialog_ui_hbox .cke_dialog_ui_html .cke_btn_reset {*/
.cke_dialog .cke_btn_reset {
	float: right;
	background-image: url(images/sprite.png); 
	background-position:-9px -253px;
	width: 18px;
	height: 18px;
	background-repeat: no-repeat;
	border: 2px solid #FFFFFF;
	font-size: 1px;
	margin: 2px;
}

.cke_rtl .cke_dialog  .cke_btn_reset {
	float: left;
}

.cke_dialog .cke_btn_locked,
.cke_dialog .cke_btn_unlocked {
	float: right;
    background-image: url(images/sprite.png);
    background-position:-8px -125px;
	width: 100% !important;
	height: 18px !important;
	background-repeat: no-repeat !important;
	border: 2px solid #FFFFFF;
	font-size: 1px;
	margin: 2px;
}

.cke_dialog a.cke_btn_locked .cke_icon
{
	display:none;
}

.cke_rtl  .cke_dialog .cke_btn_locked,
.cke_rtl  .cke_dialog .cke_btn_unlocked {
	float: left;
}

.cke_dialog a.cke_btn_unlocked {
	background-position:-9px -97px;
}

/*
The rest of the file contains style used on several common plugins. There is a
tendency that these will be moved to the plugins code in the future.
*/
.cke_dialog  .ImagePreviewBox {
	white-space : normal;
	border : 1px solid #A0A0A0;
	overflow : scroll;
	height : 140px;
	width: 320px;
	padding : 2px;
	margin-top : 5px;
	background-color : #FFFFFF;
}

.cke_dialog .ImagePreviewBox table td {
	white-space: normal;
}

.cke_dialog  .ImagePreviewLoader {
	position: absolute;
	white-space : normal;
	overflow : hidden;
	height : 160px;
	width : 230px;
	margin : 2px;
	padding : 2px;
	opacity : 0.9;
	filter : alpha(opacity=90);
	background-color : #e4e4e4;
}

.cke_dialog  .FlashPreviewBox {
	white-space : normal;
	border : 1px solid #A0A0A0;
	overflow : auto;
	height : 160px;
	background-color : #FFFFFF;
}

.cke_dialog .cke_pastetext textarea {
	height: 200px;
	resize: none;
}

.cke_dialog iframe.cke_pasteframe {
	width: 99%;
	height: 200px;
	background-color: #FFFFFF;
	border: 1px solid #A0A0A0;
}

.cke_dialog .cke_hand {
	cursor: pointer;
}

.cke_disabled {
	color: #a0a0a0;
}

/*
High Contrast Mode.
*/
/*.cke_hc .cke_dialog_footer a {*/
.cke_hc .cke_dialog_footer a {
	opacity: 1;
	filter: alpha(opacity=100);
	border: 1px solid #FFFFFF;
}

.cke_hc .cke_dialog_close_button span {
	display: inline;
	cursor: pointer;
	font-size: 1.1em;
	position: relative;
}

.cke_dialog_body .cke_label {
	display: none;
}

.cke_hc .cke_dialog_body .cke_label {
	display: inline;
	cursor: inherit;
}

a.cke_smile img {
	padding: 2px 1px;
}

a.cke_smile:focus img,
a.cke_smile:active img,
a.cke_smile:hover img  {
	border: 1px solid #C0C0C0;
	padding: 0;
    outline:none;
}

a.cke_specialchar
{
	cursor: inherit;
	display: block;
	height: 1.25em;
	margin-top: 0.25em;
	text-align: center;
}

.cke_hc .ImagePreviewBox
{
	width: 260px;
}

/**
 * Styles specific to "cellProperties" dialog.
 */
a.cke_dialog_ui_button.colorChooser  {
	margin-right: 0px;
}

/* Compensate focus outline for some input elements. (#6200) */



.cke_iframe_shim {
	display:block;
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	filter:alpha(opacity=0);
	width:100%;
	height:100%;
}

/**
 * Styles specific to "a11yhelp" dialog.
 */
.cke_hc a.cke_dialog_ui_button.ibmHelpDocumentationUrl,
.cke_browser_ie.cke_browser_ie7 a.cke_dialog_ui_button.ibmHelpDocumentationUrl,
a.cke_dialog_ui_button.ibmHelpDocumentationUrl {
	background-image: none;
	background-color: transparent;
    box-shadow: none;
	cursor: default;
	text-shadow: none;
	border : 0 none;
	padding : 3px 9px 4px;
}

.cke_hc a.cke_dialog_ui_button.ibmHelpDocumentationUrl:hover {
	border-width: 2px;
	padding: 1px 7px 2px;
}

.cke_browser_ie.cke_browser_ie7 span.cke_dialog_ui_button.ibmHelpDocumentationUrl,
span.cke_dialog_ui_button.ibmHelpDocumentationUrl {
	font-size: 1em;
	color : blue;
	cursor : pointer;
	padding : 0;
}


.cke_browser_ie a.cke_dialog_ui_button.ibmHelpDocumentationUrl:focus,
.cke_browser_ie a.cke_dialog_ui_button.ibmHelpDocumentationUrl:hover,
.cke_browser_ie a.cke_dialog_ui_button.ibmHelpDocumentationUrl:active,
a.cke_dialog_ui_button.ibmHelpDocumentationUrl:focus,
a.cke_dialog_ui_button.ibmHelpDocumentationUrl:hover,
a.cke_dialog_ui_button.ibmHelpDocumentationUrl:active  {
	box-shadow:none;
	cursor : pointer;
	border: 1px solid #aaa;
	padding: 2px 8px 3px;
    outline:none;
}




/********************************************EXTRAS***********************************************************/

fieldset.cke_dialog_ui_fieldset {
	padding: 0;
}

.cke_dialog .dark_background {
	background-color: black; /* Modified (#eaead1) */
}

.cke_dialog .hand  {
	cursor: pointer;
}

.cke_dialog .cke_dialog_ui_hbox .cke_dialog_ui_html a.cke_btn_locked:active,
.cke_dialog .cke_dialog_ui_hbox .cke_dialog_ui_html a.cke_btn_unlocked:active,
.cke_dialog .cke_dialog_ui_hbox .cke_dialog_ui_html a.cke_btn_reset:active,
.cke_dialog .cke_dialog_ui_hbox .cke_dialog_ui_html a.cke_btn_locked:focus,
.cke_dialog .cke_dialog_ui_hbox .cke_dialog_ui_html a.cke_btn_unlocked:focus,
.cke_dialog .cke_dialog_ui_hbox .cke_dialog_ui_html a.cke_btn_reset:focus {
	cursor: pointer;
	margin: 1px;
}

.cke_hc .cke_dialog_ui_hbox .cke_dialog_ui_html a.cke_btn_locked,
.cke_hc .cke_dialog_ui_hbox .cke_dialog_ui_html a.cke_btn_unlocked,
.cke_hc  .cke_dialog_ui_hbox .cke_dialog_ui_html a.cke_btn_reset {
	height: auto !important;
	width: auto !important;
	padding: 3px;
}

.cke_hc a.cke_btn_locked .cke_icon
{
	display:inline;
}

.cke_hc .cke_dialog_ui_text.cke_disabled,
.cke_hc .cke_dialog_ui_select.cke_disabled
{
	opacity: 0.5;
}

.cke_dialog_ui_labeled_label {
	display: block;
}

.cke_rtl .cke_dialog_ui_labeled_label {
	margin-left: 5px;
}

legend {

	font-weight:bold;
}

/* This is a fix to make smiley more useable in HC */
.cke_hc a.cke_smile img {
	border: none;
	margin: 2px;
}

/* This is part of the above */
.cke_hc a.cke_smile:focus img,
.cke_hc a.cke_smile:active img,
.cke_hc a.cke_smile:hover img {
	border: 2px solid purple;
	margin: 0;
}

.cke_dialog label
{
	display: inline;
 	margin-bottom: auto;
 	cursor: default;
}

/* Hide the divs that appear around a dialog. The are used to display shadows etc.
See the V2 or Office2003 skin. */
.cke_dialog_tl,
.cke_dialog_tr,
.cke_dialog_tc,
.cke_dialog_bl,
.cke_dialog_br,
.cke_dialog_bc {
	display:none;
	_z-index: -1;
}

/*quirks mode styling*/
.cke_browser_quirks .cke_dialog_close_button
{
		padding-bottom: 5px;
		padding-right: 5px;
}

.cke_dialog_ui_labeled_content{
    padding-top: 3px;
}
