/*
Copyright (c) 2003-2014, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license

Portions Copyright IBM Corp., 2010-2014.
*/

/*
editor_webkit.css
===============

This file contains styles to used by all versions of Webkit only.
*/

/* Base it on editor.css, overriding it with styles defined in this file. */
@import url("editor.css");

.cke_combo .cke_combo_text,
.cke_combo .cke_combo_open
{
	display: block;
	float: left;
}

.cke_rtl .cke_combo_label,
.cke_rtl .cke_combo .cke_combo_text,
.cke_rtl .cke_combo .cke_combo_open
{
	float: right;
}

.cke_top
{
	white-space: normal;
}

.cke_top,
.cke_contents,
.cke_bottom
{
	width: 100%;
}
