/*
Copyright (c) 2003-2014, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license

Portions Copyright IBM Corp., 2010-2014.
*/

/******************Styling for when editor is loaded from uncompressed source code*******************/
.ibm_uncompressed .cke_button__pastetext_icon
{
	background: url("icons/pastetext.png") no-repeat scroll 0 0px !important;
}

.ibm_uncompressed .cke_button__paste_icon
{
	background: url("icons/paste.png") no-repeat scroll 0 0px !important;
}

.ibm_uncompressed .cke_button__link_icon
{
	background: url("icons/link.png") no-repeat scroll 0 0px !important;
}

.ibm_uncompressed .cke_button__bookmark_icon
{
	background: url("icons/bookmark.png") no-repeat scroll 0 0px !important;
}