/*
Copyright (c) 2003-2014, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license

Portions Copyright IBM Corp., 2010-2014.
*/

/*
mainui.css (part of editor.css)
=================================

This file styles the basic structure of the CKEditor user interface - the box
that holds everything. */

/* The outer boundary of the interface. */
.cke_chrome {
	display: block;
}

/* The "contents" block of the UI. */
.cke_inner .cke_contents {
	border-width: 1px 1px 1px 1px !important;
    border-style: solid !important;
    border-color: #DDDDDD !important;
	/* Prevent background content from penetrate through when switching between editing modes. (#4918) */
	background-color: #FFFFFF;
}

.cke_hc .cke_inner
{
	background-color : #DDDDDD;
}

.cke_hc .cke_contents {
	border-top: 1px solid;
}

/* Make the main spaces enlarge to hold potentially floated content. */
.cke_top,
.cke_contents,
.cke_bottom
{
	/* These are <span>s, so transform them into blocks.*/
	display: block;

	/* Ideally this should be "auto", but it shows scrollbars in IE7. */
	overflow: hidden;
}

.cke_top {
	border: solid 1px #DDDDDD !important;
    border-bottom-width: 0 !important;
	padding-bottom: 0 !important;
	background: #fff; /* Old browsers */
}

.cke_hc  .cke_top {
	border-bottom-width: 1px !important;
}

.cke_bottom {
    border: solid 1px #dddddd !important;
    border-top-width: 0 !important;
	background: #fff; /* Old browsers */
	padding: 0;
	height: 25px;
}

.cke_hc .cke_resizer 
{
	font-size: 12px;
}

/* The resizer is the small UI element that is rendered at the bottom right
   part of the editor. It makes is possible to resize the editor UI. */
.cke_resizer {
	font-size: 0;
	width: 12px;
	height: 12px;
	margin-top: 12px;
	display: block;
	float: right;
	background-image: url(images/sprite.png);
	background-position:-9px -158px;
	cursor: se-resize;
}

/* This class is added in RTL mode. This is a special case for the resizer
   (usually the .cke_rtl class is used), because it may not necessarily be in
   RTL mode if the main UI is RTL. It depends instead on the context where the
   editor is inserted on. */
.cke_resizer_rtl {
	cursor: sw-resize;
	float: left;
	background-image: url(images/sprite.png);
	background-position:-9px -188px;
}

.cke_maximized .cke_resizer {
	display: none;
}

/* The editing area (where users type) can be rendered as an editable <div>
   element (e.g. divarea plugin). In that case, this is the class applied to
   that element. */
.cke_wysiwyg_div
{
	display: block;
	height: 100%;
	overflow: auto;
	padding: 0 8px;
	outline-style: none;
}

/******************************EXTRAS**********************************************/

/*span.cke_browser_webkit,
span.cke_browser_gecko18{
	display: block;
}*/

/*.cke_browser_webkit .cke_editor ,
.cke_browser_opera .cke_editor  {
	display: table;
}

.cke_browser_opera .cke_editor  {

	border-top: solid 1px #dddddd !important;
}

.cke_browser_opera .cke_top
{
	border-top-width: 0 !important;
}
*/

/*
.cke_focus {
	outline: auto 5px -webkit-focus-ring-color;
}

*/
