/*
Copyright (c) 2003-2014, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license

Portions Copyright IBM Corp., 2010-2014.
*/

/*
panel.css (part of editor.css)
================================

Panels are floating elements that can hold different types of contents.
The following are common uses of it:

	- The element that toolbar combos display when opening them.
	- The context menu.
	- The list of items displayed by "menu buttons" (e.g. scayt).
	- The panel shown when opening "panel buttons" (e.g. color buttons).
*/

/* The box that holds an IFRAME. It's inserted into a host document and positioned
   absolutely by the application. It floats above the host document/editor. */
.cke_panel
{
	/* Restore the loading hide */
	visibility: visible;
    border: 1px solid #DDDDDD;
	background-color: #fff;

	width: 120px;
	height: 100px;

	overflow:hidden;
}

/* This class represents panels which are used as context menus. */
.cke_menu_panel
{
	padding: 2px;
}

/* This class represents panels which are used by rich combos. */
.cke_combopanel
{
	border: 1px solid #C0C0C0;
}

/* The IFRAME the panel is wrapped into. */
.cke_panel_frame
{
	width: 100%;
	height: 100%;
}

/* The HTML document which is a direct descendant of the IFRAME */
.cke_panel_container
{
	overflow: auto;
	overflow-x: hidden;
}

/* The list of panel items. */
.cke_panel_list
{
	list-style-type: none;
	margin: 3px;
	padding: 0px;
    white-space: nowrap;
}

/* The item of .cke_panel_list */
.cke_panel_listItem
{
	margin: 0px;
}

/* The child of .cke_panel_listItem. These elements contain spans which are
   to display a real name of the property which is visible for an end-user. */
.cke_panel_listItem a
{
	padding: 2px;
	display: block;
	border: 1px solid #fff;
	color: inherit;
	text-decoration: none;
	overflow: hidden;
    text-overflow: ellipsis;
}

/* IE6 */
* html .cke_panel_listItem a
{
	width : 100%;

	/* IE is not able to inherit the color, so we must force it to black */
	color: #000;
}

/* IE7 */
*:first-child+html .cke_panel_listItem a
{
	/* IE is not able to inherit the color, so we must force it to black */
	color: #000;
}

.cke_panel_listItem.cke_selected a
{
	border: 1px solid #C0C0C0;
	background-color: #F1F1F1;
}

.cke_panel_listItem a:hover,
.cke_panel_listItem a:focus,
.cke_panel_listItem a:active
{
	/* border-color: #316ac5;*/
	background-color: #F1F1F1;
	outline: none;
}

.cke_hc .cke_panel_listItem.cke_selected a,
.cke_hc .cke_panel_listItem a:hover,
.cke_hc .cke_panel_listItem a:focus,
.cke_hc .cke_panel_listItem a:active
{
	border-width: 4px;
	padding: 0px;
}

/* The title of the entire panel which is visible on top of the list. */
.cke_panel_grouptitle
{
    font-size: 0.9em;
    font-family: "Helvetica Neue Roman",Helvetica,Arial,Roboto;
	font-weight: bold;
    white-space: nowrap;
	background-color: #dcdcdc;
	color: #000;
	margin:0px;
	padding:3px;
}

/* The following styles set defaults of the elements used by the Paragraph
   Format panel. */
.cke_panel_listItem p,
.cke_panel_listItem h1,
.cke_panel_listItem h2,
.cke_panel_listItem h3,
.cke_panel_listItem h4,
.cke_panel_listItem h5,
.cke_panel_listItem h6,
.cke_panel_listItem pre
{
	margin-top: 3px;
	margin-bottom: 3px;
}

/*.cke_panel_frame .cke_label
{
	display: none;
}
*/

/*body.cke_panel_frame
{
	overflow: auto;
	overflow-x: hidden;
}*/
