/*
Copyright (c) 2003-2014, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license

Portions Copyright IBM Corp., 2010-2014.
*/

@media print
{
	.cke_status_message
	{
		display: none;
	}
}

.cke_status_container
{
	float: right;
}

.cke_rtl .cke_status_container
{
	float: left;
}


.cke_status_message
{
	padding: 5px;
	display: inline-block;
	float: left;
}
