/*
Copyright (c) 2003-2014, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license

Portions Copyright IBM Corp., 2010-2014.
*/

/*
toolbar.css (part of editor.css)
==================================

This files styles the CKEditor toolbar and its buttons. For toolbar combo
styles, check richcombo.css.

The toolbar is rendered as a big container (called toolbox), which contains
smaller "toolbars". Each toolbar represents a group of items that cannot be
separated.
*/


/* The box that holds each toolbar. */
.cke_toolbar
{
	display:inline-block;
	float:left;
	white-space: normal;
}

.cke_rtl .cke_toolbar
{
	float: right;
}

/* The box that holds buttons. */
.cke_toolgroup
{
	display: inline;
	float: left;
	margin-top: 1px;
	margin-bottom: 5px;
	white-space: normal;
}

.cke_rtl .cke_toolgroup
{
	float: right;
}

.cke_hc .cke_toolgroup
{
	white-space: normal;
}

/* A toolbar button . */
a.cke_button,
/* The cke_button_off class is applied to the button when the feature associated with the
   button is available but currently not active.*/
a.cke_button_off
{
	margin: 3px 2px 3px;		/* Added */
	display: inline-block;
	outline: none;
	padding: 1px;
	cursor: default;
	text-decoration: none;
	vertical-align: top;
	float: left;
	height: 18px;
}

.cke_rtl a.cke_button,
.cke_rtl a.cke_button_off
{
	float: right;
}

.cke_hc .cke_button
{
	white-space: normal;
}

.cke_hc .cke_button,
.cke_hc .cke_button.cke_button_off
{
	border: 1px solid transparent;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	margin: 2px;
	padding: 3px 2px;
}


/* This class is applied to the button when it is "active" (pushed).
   This style indicates that the feature associated with the button is active
   i.e. currently writing in bold or when spell checking is enabled. */
a.cke_button.cke_button_on
{
	border: solid 1px #C0C0C0;
	background-color: #E0DEDE;
	margin: 2px 1px 1px;
	padding: 1px;
}

.cke_hc a.cke_button:hover,
.cke_hc a.cke_button:focus,
.cke_hc a.cke_button:active,
.cke_hc a.cke_button.cke_button_on
{
	border-width: 3px;
	margin: 1px;
	padding: 2px 1px;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	opacity: .99;
}

/* This class is applied to the button when the feature associated with the
   button cannot be used (grayed-out).
   i.e. paste button remains disabled when there is nothing in the clipboard to
   be pasted. */
a.cke_button_disabled
{
	background-color: #fff;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: .3;
	cursor: not-allowed;
}

.cke_button.cke_button_disabled .cke_button_icon
{
	cursor: not-allowed;
}

.cke_hc .cke_button_disabled
{
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	opacity: .6;
}

a.cke_button:hover,
a.cke_button:focus,
a.cke_button:active
{
	border: solid 1px #878787;
	margin: 2px 1px 1px;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	opacity: .99;
}

a.cke_button:focus,
a.cke_button:active {
    background-color: #DDDDDD;
}
/* The icon which is a visual representation of the button. */
.cke_button_icon
{
	margin-top: 1px;
    margin-left: 2px;
    margin-right:3px;
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: inherit;
}

.cke_hc .cke_button_icon
{
	display: none;
}

/* The label of the button that stores the name of the feature. By default,
   labels are invisible. They can be revealed on demand though. */
.cke_button_label
{
	display: none;
	padding-left: 3px;
	vertical-align: 3px;
}

.cke_hc .cke_button_label
{
	padding: 1px 3px 0;
	display: inline-block;
}

/* The small arrow available on buttons that can be expanded
   (e.g. the color buttons). */
.cke_button_arrow
{
	display: inline-block;
	height: 16px;
	width: 6px;
	background-repeat: no-repeat;
	background-image: url(images/sprite.png);
	background-position:50% -61px;
}

.cke_rtl .cke_button_arrow
{
	background-image: url(images/sprite.png);
	background-position:50% -61px;
}

.cke_hc .cke_button_arrow
{
	height: 12px;
	width: 10px;
	vertical-align: top;

}

/* The dummy element that breaks toolbars.
   Once it is placed, the very next toolbar is moved to the new row. */
.cke_toolbar_break
{
	clear: left;
	display: block;
}

.cke_rtl .cke_toolbar_break
{
	clear: right;
}

.cke_arrow 
{
	font-size: 0;
}
.cke_hc .cke_arrow 
{
	font-size: 12px;
}

/* The button, which when clicked hides (collapses) all the toolbars. */
a.cke_toolbox_collapser,
a:hover.cke_toolbox_collapser
{
	background-image: url(images/sprite.png);
	background-position:-10px -40px;
	background-repeat: no-repeat;
	width: 11px;
	height: 11px;
	float: right;
	border: outset 1px;
	margin: 7px 2px 2px;
	cursor: pointer;
}

.cke_rtl a.cke_toolbox_collapser,
.cke_rtl a:hover.cke_toolbox_collapser
{
	float: left;
}

a.cke_toolbox_collapser_min,
a:hover.cke_toolbox_collapser_min
{
	background-image: url(images/sprite.png);
	background-position:-10px 3px;
	margin: 2px;
	font-size: 0;
}

.cke_rtl a.cke_toolbox_collapser_min,
.cke_rtl a:hover.cke_toolbox_collapser_min
{
	 background-position:-10px -18px;
	 background-image: url(images/sprite.png);
	 font-size: 0;
}

.cke_toolbox
{
	clear: both;
	/* Define the padding-bottom otherwise the collapser button will not be clickable #4932*/
	padding-bottom: 1px;
}

.cke_hc .cke_toolbox
{
	background-color : #DDDDDD;
}

.cke_toolbar_start
{
	border-left: solid 1px #DDDDDD;
	display: inline-block;
    margin: 4px 2px 2px;
    width: 1px;
    height: 18px;
	float: left;
}

.cke_hc .cke_toolbar_start
{
	white-space: normal;
}

.cke_rtl .cke_toolbar_start
{
	float: right;
}

.cke_toolbar_end
{
	display: inline-block;
}

/*IBM Floating Toolbar styling*/
.cke_floating_toolbox
{
	position : fixed;
	top : 0px;
	background: #ebebeb; /* Old browsers */
	background: -moz-linear-gradient(top,  #fefefe 0%, #f6f6f6 48%, #eeeeef 86%, #ebebeb 95%, #dfdfdf 98%, #c1c1c1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(48%,#f6f6f6), color-stop(86%,#eeeeef), color-stop(95%,#ebebeb), color-stop(98%,#dfdfdf), color-stop(100%,#c1c1c1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fefefe 0%,#f6f6f6 48%,#eeeeef 86%,#ebebeb 95%,#dfdfdf 98%,#c1c1c1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fefefe 0%,#f6f6f6 48%,#eeeeef 86%,#ebebeb 95%,#dfdfdf 98%,#c1c1c1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fefefe 0%,#f6f6f6 48%,#eeeeef 86%,#ebebeb 95%,#dfdfdf 98%,#c1c1c1 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fefefe 0%,#f6f6f6 48%,#eeeeef 86%,#ebebeb 95%,#dfdfdf 98%,#c1c1c1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#dcdcdc',GradientType=0 ); /* IE6-9 */
	padding-bottom: 0 !important;
	-moz-box-shadow: 0px 0px 10px #aaa;
	-webkit-box-shadow:  0px 0px 10px #aaa;
	box-shadow: 0px 0px 10px #aaa;
}


/*.cke_accessibility
{
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
}*/
