/**
 *-------------------------------------------------------------------
 * Licensed Materials - Property of IBM
 *
 * WebSphere Commerce
 *
 * (c) Copyright IBM Corp. 2004
 *
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 *
 *-------------------------------------------------------------------
 */
 
/* general */

HTML { scrollbar-arrow-color: #552BA1; scrollbar-3dlight-color: #552BA1; scrollbar-face-color: #EDEDED; scrollbar-track-color: #CFCECF; }
BODY { font-family: Verdana,Arial,Helvetica; font-size: 10pt; color: Black; margin: 0 0 0 0; padding: 0 0 0 0; background-color: #EFEFEF; word-wrap: break-word; scrollbar-arrow-color: #552BA1; scrollbar-3dlight-color: #552BA1; scrollbar-face-color: #EDEDED; scrollbar-track-color: #CFCECF; }
H1 { font-family: Verdana,Arial,Helvetica; font-size: 13pt; color: #565665; font-weight: normal; word-wrap: break-word; }
TD { font-family: Verdana,Arial,Helvetica; font-size: 10pt; color: Black; word-wrap: break-word; }
DIV { font-family: Verdana,Arial,Helvetica; font-size: 10pt; color: Black; word-wrap: break-word; }
A { font-family: Verdana,Arial,Helvetica; font-size: 10pt; color: #6130BB; word-wrap: break-word; text-decoration: none; }
B { font-family: Verdana,Arial,Helvetica; font-size: 10pt; color: Black; font-weight: bold; word-wrap: break-word; }
I { font-family: Verdana,Arial,Helvetica; font-size: 10pt; color: Black; font-style: italic; word-wrap: break-word; }
P { font-family: Verdana,Arial,Helvetica; font-size: 10pt; color: Black; word-wrap: break-word; }
LI { font-family: Verdana,Arial,Helvetica; font-size: 10pt; color: Black; word-wrap: break-word; }
SELECT { font-family: Verdana,Arial,Helvetica; font-size: 10pt; color: Black; word-wrap: break-word;}
TEXTAREA { font-family: Verdana,Arial,Helvetica; font-size: 10pt; color: Black; word-wrap: break-word; }
INPUT { font-family: Verdana,Arial,Helvetica; font-size: 10pt; color: Black; word-wrap: break-word; }

/* general content area */

BODY.content { margin-left: 25px; margin-top: 10px; font-family: Verdana,Arial,Helvetica; font-size: 10pt; color: Black; background-color: #EFEFEF; word-wrap: break-word; scrollbar-arrow-color: #552BA1; scrollbar-3dlight-color: #552BA1; scrollbar-face-color: #EDEDED; scrollbar-track-color: #CFCECF; }

/* log on & Store List*/

TD.text_orange { font-family: Verdana,Arial,Helvetica; font-size: 10pt; color: Black; word-wrap: break-word; }
TD.text { font-family: Verdana,Arial,Helvetica; font-size: 10pt; color: Black; padding-top: 7px; word-wrap: break-word; }
TD.legal { background-color: #EFEFEF; color: #552BA1; font-size: 7pt; word-wrap: break-word; height: 23px; padding-left: 25px; }
TD.blue { background-color: #552BA1; color: #FFFFFF; font-family: Verdana,Arial,Helvetica; font-size: 10pt; font-weight: bold; word-wrap: break-word; padding-left: 25px; }
TABLE.logon { background-color: #EFEFEF; color: #000000; height: 100%; }
TD.logon { background-color: #EFEFEF; color: #000000; }
TD.message_box { background-color: #F5F5F5; color: #121212; }

/* entry page */

BODY.entry { margin: 0 0 0 0; word-wrap: break-word; }
TABLE.entry_table { background-image: url('/wcs/images/tools/mcc/entry_back.jpg'); background-repeat: no-repeat; background-position-x: 1px; background-position-y: 5px; border-style: solid; border-width: 1px; border-color: #ACACB1; background-color: #F4F4F4; }
TD.h1 { font-family: Verdana,Arial,Helvetica; font-size: 13pt; color: #565665; font-weight: normal; word-wrap: break-word; }
TD.entry_title { font-family: Verdana,Arial,Helvetica; font-size: 12px; font-weight: bold; color: #000000; padding: 5px; background-image: url('/wcs/images/tools/mcc/entry_header.gif'); background-repeat: repeat; }
TD.entry_text { font-family: Verdana,Arial,Helvetica; font-size: 10pt; color: #000000; word-wrap: break-word; text-align: justify; padding: 10px; }
TD.entry_divider { background-color: #ACACB1; }
TD.entry_content { padding-left: 20px; padding-right: 20px; font-family: Verdana,Arial,Helvetica; font-size: 10pt; color: Black; word-wrap: break-word; }
DIV.entry_head { color: #ffffff; background-color: #6699cc; font-size: 12px; font-weight: bold; padding: 2px; }
DIV.entry_text { font-family: Verdana,Arial,Helvetica; font-size: 10pt; color: Black; word-wrap: break-word; }
UL.entry_list { list-style-image: url('/wcs/images/tools/mcc/entry_bullet.gif'); list-style-postion: inside; padding-bottom: 3px; margin-top: 3px; }

/* list table */
DIV.scroll_title { font-family: Verdana,Arial,Helvetica; font-size: 13pt; color: #565665; font-weight: normal; word-wrap: break-word; }
SPAN.buttonText { float: left; text-align: left; cursor: default; word-wrap: break-word; vertical-align: middle; padding-left: 10px; }
TABLE.list {  border: 0pt; vertical-align: top; padding: 0; BORDER: 0; word-wrap: break-word; }
TABLE.list2 { background-color: #FFFFFF; border: 0pt; vertical-align: top; padding: 0; BORDER: 0; width: 100%; word-wrap: break-word; }
TABLE.list3 { background-color: #FFFFFF; border: 0pt; width: 100%; vertical-align: top; padding: 0; BORDER: 0; word-wrap: break-word; }
TABLE.list5{ width: 100%; border: 0; word-wrap: break-word; }
TABLE.list6 { background-color: #ADADAD; width: 100%; border: 0pt; vertical-align: top; padding: 0; BORDER: 0; word-wrap: break-word; }
TABLE.list_role_off { border: 0pt; width: 100%; word-wrap: break-word; border-top-color: EDEEEF; }
TABLE.list_role_on { border: 0pt; width: 100%; background-color: #638C7A; word-wrap: break-word; }
TD.list_filter { font-family: Verdana,Arial,Helvetica; font-size: 10pt; color: Black; width: 80px; text-align: right; padding-right: 5px; word-wrap: break-word; }
TD.list_filter2 { font-family: Verdana,Arial,Helvetica; font-size: 10pt; color: Black; width: 40px; text-align: left; vertical-align: middle; word-wrap: break-word; }
TD.list_location { font-family: Verdana,Arial,Helvetica; font-size: 8pt; color: Black; text-align: right; word-wrap: break-word; }
A.list_location { font-family: Verdana,Arial,Helvetica; font-size: 8pt; color: Black; text-align: right; vertical-align: middle; word-wrap: break-word; }
A.col_header { font-family: Verdana,Arial,Helvetica; font-size: 8pt; color: Black; font-weight: normal; text-align: left; word-wrap: normal; text-decoration: none; }
TR.list_roles { word-wrap: break-word; border-bottom: 20px solid black;}
TR.list_header1 { background-color: #00007F; font-family: Verdana,Arial,Helvetica; font-size: 16pt; font-weight:bold; height: 200%; word-wrap: break-word;}
TH.list_header { font-family: Verdana,Arial,Helvetica; font-size: 10pt; color: Black; font-weight: normal; border-top: 1px solid #E8E9E9; border-bottom: 1px solid #DADBE3; border-left: 1px solid #6D6D7C; background-image: url("/wcs/images/tools/list/table_header.gif"); padding-left: 7px; padding-right: 7px; padding-top: 2px; padding-bottom: 2px; vertical-align: middle; text-align: left; word-wrap: normal; }
TH.list_header2 { font-family: Verdana,Arial,Helvetica; font-size: 10pt; color: Black; font-weight: normal; border-top: 1px solid #E8E9E9; border-bottom: 1px solid #DADBE3; border-left: 1px solid #6D6D7C; background-image: url("/wcs/images/tools/list/table_header_selected.gif"); padding-left: 7px; padding-right: 7px; padding-top: 2px; padding-bottom: 2px; vertical-align: middle; text-align: left; word-wrap: normal; }
TR.list_row1 { background-color: #FFFFFF; word-wrap: break-word; }
TR.list_row2 { background-color: #EFEFEF; word-wrap: break-word; }
TR.list_row3 { background-color: #DFDCF6; word-wrap: break-word; }
TR.list_row4 { background-color: #dfecff; word-wrap: break-word; }
TD.list_info1 { font-family: Verdana,Arial,Helvetica; font-size: 8pt; color: #373741; word-wrap: break-word; padding-left: 8px; padding-right: 8px; padding-top: 5px; padding-bottom: 5px; }
A.list_info1 { font-family: Verdana,Arial,Helvetica; font-size: 8pt; color: #6130BB; word-wrap: break-word; padding-left: 8px; }
A.list_link_info { font-family: Verdana,Arial,Helvetica; font-size: 8pt; color: #6130BB; word-wrap: break-word; text-decoration: underline; }
TD.list_check { background-color: #D3D4DB; vertical-align: top; width: 16px; word-wrap: break-word; }
TD.list_check_all { width: 16px; background-image: url("/wcs/images/tools/list/table_header.gif");}
TD.height1{ height: 30px; word-wrap: break-word; }
TD.header_border { font-family: Verdana,Arial,Helvetica; font-size: 8pt; color: Black; word-wrap: break-word; border-bottom: 1px solid #6D6D7C;}
TD.section_title_with_top_dash { font-family: Verdana,Arial,Helvetica; font-weight : bold; font-size: 8pt; color: #565665; padding-left: 8px; border-top: 1px dashed #ffffff; }
TD.section_title { font-family: Verdana,Arial,Helvetica; font-weight : bold; font-size: 8pt; color: #565665; padding-left: 8px; }

BODY.wnd { font-family: Verdana,Arial,Helvetica; font-size: 10pt; color: Black; margin: 0 0 0 0; padding: 0 0 0 0; background-color: #8992D5; word-wrap: break-word; }
BODY.content_list { margin-left: 25px; margin-right: 0px; margin-top: 10px; font-family: Verdana; font-size: 10pt; color: Black; word-wrap: break-word; }

/* wizard */

BODY.wiz_toc { border-color: #FFFFFF; border-style: solid; border-left-width: 0px; border-right-width: 1px; border-top-width: 0px; border-bottom-width: 0px; background-repeat: no-repeat; background-position-y: bottom; }
TABLE.wiz { width: 140px; height: 100%; vertical-align: top; word-wrap: break-word; }
TD.wiz_off { font-family: Verdana,Arial,Helvetica; font-size: 10pt; color: #59595D; height: 20px; width: 124px; padding-left: 1px; word-wrap: break-word; }
TD.wiz_on { font-family: Verdana,Arial,Helvetica; font-size: 10pt; color: #59595D; height: 20px; width: 124px; padding-left: 1px; word-wrap: break-word; }
TD.wiz_space { height: 99%; width: 124px; word-wrap: break-word; }

/* notebook */

BODY.nbp_toc { margin-left: 5px; background-image: url("/wcs/images/tools/uiproperties/nbp_bg.gif"); background-attachment: fixed;  border-color: #FFFFFF; border-style: solid; border-left-width: 0px; border-right-width: 1px; border-top-width: 0px; border-bottom-width: 0px; }
TABLE.nbp_group { border: 0px; width: 145px; vertical-align: top; word-wrap: break-word; border-bottom: 1px solid #777577; border-top: 1px solid #777577; border-left: 1px solid #777577; border-right: 1px solid #777577; padding-bottom: 0px; }
TD.nbp_on { font-family: Verdana,Arial,Helvetica; font-size: 10pt; background-color: #F7C57B; padding-top: 1px; padding-bottom: 1px; padding-left: 1px; word-wrap: break-word; }
TD.nbp_on_pad { background-color: #F7C57B; }
TD.nbp_on_empty { background-color: #F7C57B; }
TD.nbp_on_l { background-color: #F7C57B; background-image: url('/wcs/images/tools/dtree/linestraight.gif'); width: 20px; height: 16px; }
TD.nbp_off { font-family: Verdana,Arial,Helvetica; font-size: 10pt;  background-color: #EBEBEC; padding-top: 1px; padding-bottom: 1px; padding-left: 1px; word-wrap: break-word; }
TD.nbp_off_pad { background-color: #FFFFFF; }
TD.nbp_off_empty { background-color: #EBEBEC; }
TD.nbp_off_l { background-color: #EBEBEC; background-image: url('/wcs/images/tools/dtree/linestraight.gif'); width: 20px; height: 16px; }
A.nbp_item { font-family: Verdana,Arial,Helvetica; font-size: 10pt; color: #000000; text-decoration: none; word-wrap: break-word; }

/* Buttons */

BUTTON, BUTTON.general, INPUT.button, BUTTON.enabled, INPUT.enabled, Button#slosh { font-family: Verdana,Arial,Helvetica; font-size: 8pt; background-image: url('/wcs/images/tools/uiproperties/button_bg_enabled.gif'); background-repeat: repeat-x; border-style: solid; border-width: 2px; border-color: #5C30A4; width: expression((this.offsetWidth > 100)? "auto" : "100px"); padding-top: 2px; }
BUTTON.disabled, INPUT.disabled { font-family: Verdana,Arial,Helvetica; font-size: 8pt; background-image: url('/wcs/images/tools/uiproperties/button_bg_disabled.gif'); background-repeat: repeat-x; border-style: solid; border-width: 2px; border-color: #8A898B; width: expression((this.offsetWidth > 100)? "auto" : "100px"); padding-top: 2px; }
BUTTON#go { width: expression((this.offsetWidth > 40)? "auto" : "40px"); padding-top: 2px; }

/* Button Area */

BODY.button { word-wrap: break-word; }
BODY.content_bt { margin-left: 1px; margin-top: 8px; font-family: Verdana; font-size: 10pt; color: Black; word-wrap: break-word; }
TD.button1 { width: 135px; height: 100%; word-wrap: break-word; }
TD.button_image { height: 100%; word-wrap: break-word; }

/* Navigation Frame */

TD.dottedLine { background-image: url('/wcs/images/tools/uiproperties/dotted_line.gif'); }

/* Calender */

TR.cal { font-family: Verdana,Arial,Helvetica; font-size: 10pt; color: #000000; text-align: center; background-color: #D1D1D9; word-wrap: break-word; }
BUTTON.cal { width: auto; }
BUTTON.date { font-family: Verdana,Arial,Helvetica; font-size: 10pt; background-image: none; background-color: #FFFFFF; border-style: none; word-wrap: break-word; width: 30px; }
BUTTON.date_selected { width: 30px; }
DIV.calendar { font-family: Verdana,Arial,Helvetica; border-width: 2px; border-color: #777686; border-style: solid; background: #FFFFFF; }

/* Tools UI Center - Menu */

IFRAME.submenu { position: absolute; z-index: 10; visibility: hidden; top: 0px; left: 0px; filter: progid:DXImageTransform.Microsoft.Shadow(color="#777777", Direction=135, Strength=4); }
IFRAME.progress { position: absolute; z-index: 11; visibility: hidden; top: 0px; left: 0px; filter: progid:DXImageTransform.Microsoft.Shadow(color="#777777", Direction=135, Strength=4); }
DIV.blackBorder { border-color: #000000; border-style: solid; border-width: 1px; }
DIV.submenu { background-color: #E0E0E0; word-wrap: break-word; display: block; position: absolute; border-style: solid; border-color: #FFFFFF; border-width: 1px; border-top-width:0; visibility: visible; top: 0px; left: 0px; padding-top: 8px; padding-bottom: 10px; }
DIV.submenu a:hover { background: #EDAC40; word-wrap: break-word; display: block; padding-left: 16px; padding-top: 1px; padding-bottom: 1px; }
DIV.submenu a { text-decoration: none; color: #000000; word-wrap: break-word; display: block; padding-left: 16px; padding-top: 1px; padding-bottom: 1px; }
HR.separator { width: 98%; color: #FFFFFF; }
	
BODY.menu { background-color: #D1D1D9; word-wrap: break-word; margin: 0 0 0 0; }
BODY.menu a { text-decoration: none; font-family: Verdana,Arial,Helvetica; font-size: 9pt; color: #000000; word-wrap: break-word; }

TD.waitText { color: #5E5E5E; font-family: Verdana,Arial,Helvetica; font-size: 10pt; font-weight: bold; word-wrap: break-word; }
IMG.waitImage { border-color: #000000; border-style: solid; border-width: 1px; height 50px; width: 300px; padding: 2px; }

/* Tools UI Center - Banner */

TABLE.banner { background-image: url("/wcs/images/tools/mcc/breadcrumb_bk.gif"); width: 100%; border: 0; padding: 0; height: 30; word-wrap: break-word; }
TD.store { font-family: Verdana,Arial,Helvetica; color: #FFFFFF; font-size: 8pt; font-weight: bold; line-height: 14px; word-wrap: break-word; border-style: solid; border-width: 1px; border-color: #9470BF; padding-left: 5px; padding-right: 5px; }
SELECT.banner { font-family: Verdana,Arial,Helvetica; font-size: 10pt; color: Black; word-wrap: break-word; background-color: #E3E2E2;}
A.nav { font-family: Verdana,Arial,Helvetica; font-size: 9pt; word-wrap: break-word; color:black; text-decoration: none; padding-right: 17px;}

/* Tools UI Center - Bread Crumb Trail */

BODY.breadcrumb { background-color: #efefef; margin: 0 0 0 0; }
A.breadcrumb { text-align: left; font-family: Verdana,Arial,Helvetica; color: #6130BB; font-size: 8pt; text-decoration: none; word-wrap: break-word; }
DIV.breadcrumb { text-align: left; font-family: Verdana,Arial,Helvetica; color: #000000; font-size: 8pt; word-wrap: break-word; padding-left: 25px; }

/* scroll control */

TD.item { font-family: Verdana,Arial,Helvetica; font-size: 8pt; color: Black; word-wrap: break-word; }
B.scroll { font-family: Verdana Geneva Arial Helvetica sans-serif; color: 18416B; font-weight: bold; font-size: 10pt; word-wrap: break-word; }
BODY.content_sc { margin-left: 25px; margin-right: 15px; margin-top: 5px; font-family: Verdana; font-size: 10pt; color: Black; word-wrap: break-word; }

/* NL-Dialogs */

BODY.dialogBody { font: 8pt Tahoma; margin: 5 5 5 5; padding: 0 0 0 0; word-wrap: break-word; width: expression(this.clientWidth > 100 ? "auto" : "100px"); }
TD.dialogText { font: 8pt Tahoma; word-wrap: break-word; }
.dialogTextBold { font: 8pt Tahoma; font-weight: bold; word-wrap: break-word; }

/* Dynamic Tree */

a.dtree,a.nodeItem,.cellMenuItem,td.tree,.treeMenu { text-decoration: none; font: 9pt verdana; color: black; vertical-align: middle; word-wrap: break-word; }
a.dtree,a.nodeItem,.cellMenuItem,img.treeIcon { cursor: hand; word-wrap: break-word; }
img.treeIcon { vertical-align: top; word-wrap: break-word; }
.treeMenu { border: solid 1; border-color: #FFFFFF #404040 #404040 #FFFFFF; background-color: #D4D0C8; position: absolute; visibility: hidden; padding: 1px; width: 180px; z-index: 2; top: 10; left 10; word-wrap: break-word; }
.waitMessage { position: absolute; background-color: #8080FF; border-color: #315B7D; border-style: solid; border-width: 2px; padding: 10px; width: 200px; text-align: center; visibility: hidden; font-weight: bold;}

/* SearchDialog */

.searchTitle { font-family: Verdana,Arial,Helvetica; font-size: 16pt; color: #565665; font-weight: normal; word-wrap: break-word; }
.searchDesc { font-family: Verdana,Arial,Helvetica; font-size: 10pt; color: Black; word-wrap: break-word; }
.searchTable { padding-left: 20px; padding-right: 20px; }
.field { background-color: #EBF0EE; width: 100%; }
.fieldName {  background-color: #B0D7F2; font-family: Verdana,Arial,Helvetica; font-size: 10pt; font-weight: bold; color: Black; }
.fieldSelect { width: 330px; }
.fieldInput { width: 330px; }
.operator { background-color: #DCE2DF; }
.colSpace { width: 10px; }

/* New DynamicTree */

.dtreeContainer { margin: 0px; padding: 0px; white-space: nowrap; border-style: none; }
.dtreeItem { font-family: verdana; font-size: 9pt; padding: 0px; margin: 0px; white-space: nowrap; border-style: none; }
.dtreeItem a { color: #000000; font-family: verdana; font-size: 9pt; margin-left: 0px; padding: 1px 2px 1px 2px; text-decoration: none; cursor: default; }
.dtreeItem a:hover { color: #000000; text-decoration: none; }
.dtreeItem img { vertical-align: middle; border: 0px; height: 16px; }
.dtreeItem .dtreeIcon { vertical-align: middle; border: 0px; height: 16px; }
.dtreeItem .dtreeItemHighlight { background-color: #EDAC40; color: #FFFFFF; text-decoration: none; }
.dtreeItem .dtreeItemHighlight:hover { background-color: #EDAC40; color: #FFFFFF; text-decoration: none; }
.dtreeItem .dtreeItemHighlight:visited { background-color: #EDAC40; color: #FFFFFF; text-decoration: none; }
.dtreeItem .dtreeItemNormal { color: #000000; text-decoration: none; }
.contextMenu { background-color: #EFEFEF; border: 2px outset; text-align: left; }
.contextMenuItem, .contextMenuItemDisabled { display: block; }
.contextMenuItem a { cursor: default; color: #000000; font-family: verdana; font-size: 9pt; padding: 2px 13px 2px 13px; text-decoration: none; display: block; font-weight: 500; }
.contextMenuItem a:hover { background-color: #EDAC40; color: #FFFFFF; text-decoration: none; display: block; font-weight: 500; }
.contextMenuItemDisabled a { cursor: default; color: #666666; font-family: verdana; font-size: 9pt; padding: 2px 13px 2px 13px; text-decoration: none; display: block; }
.contextMenuItemDisabled a:hover { background-color: #EDAC40; color: #666666; text-decoration: none; display: block; }
.contextMenuSeparator { font-size: 0pt; border: 1px inset; height: 2px; overflow: hidden; margin: 2px 1px 2px 1px; }

/* Misc */
.hidden-label {position:absolute; left:0px top:-100px; width:1px; height:1px; overflow:hidden; }

/* Product Management */
.enabled2 { font-family: verdana; font-size: 8pt; color: black; font-weight: bold; background: #D1D1D9; width: 125px; border-style: outset; border-width: 1 1 1 0; border-color: black black black black; text-align: left; padding-left: 0px; word-wrap: break-word; height: 23px}
.inactivetab { font-family: verdana; font-size: 8pt; color: black; background: #EFEFEF; border-style: outset; border-width: 0 0 0 0; border-color: black black black black; text-align: left; padding-left: 0px; word-wrap: none; height: 23px}
.activetab { font-family: verdana; font-size: 8pt; color: black; background: #EFEFEF; border-style: outset; border-width: 0 0 0 0; border-color: black black black black; text-align: left; padding-left: 0px; word-wrap: none; height: 23px}
.tabend { font-family: verdana; font-size: 8pt; color: black; background: #EFEFEF; width: 20px; border-style: outset; border-width: 0 0 0 0; border-color: black black black black; text-align: left; padding-left: 0px; word-wrap: break-word; height: 23px}

SELECT.dtable { font-family: Verdana,Arial,Helvetica; font-size: 8pt; color: Black; word-wrap: break-word; width: 100%; height: 19px; border:1px none gray}
INPUT.dtable  { border-style:inset; background-color:transparent; font-family: Verdana,Arial,Helvetica; font-size: 8pt; color: Black; word-wrap: break-word; width: 100%; height: 19px; vertical-align: middle;}
INPUT.dtablecenter  { border-style:inset; background-color:transparent;  font-family: Verdana,Arial,Helvetica; font-size: 8pt; color: Black; word-wrap: break-word; width: 100%; height: 95%; vertical-align: middle; text-align: center;}
INPUT.dtableright  { border-style:inset; background-color:transparent; font-family: Verdana,Arial,Helvetica; font-size: 8pt; color: Black; word-wrap: break-word; width: 100%; height: 95%; vertical-align: middle; text-align: right;}
BODY.dtable { margin-left: 10pt; margin-top: 10pt; font-family: Verdana; font-size: 8pt; color: Black; word-wrap: break-word; }
TR.dtable     {  padding: 3px; padding-top: 2px; border:0px; background-color:#EFEFEF; height: 25px; word-wrap: break-word; }
TR.dtablelow  {  padding: 0px; border:0px; background-color:#EFEFEF; height: 24px; word-wrap: break-word; }
TR.dtablehigh {  padding: 3px; padding-top: 2px; border:0px; background-color:#EFEFEF; height: 55px; word-wrap: break-word; }
TD.dtable {  border:0px; font-family: Verdana,Arial,Helvetica; font-size: 8pt; color: Black; text-align: left;}
A.dtable { padding-left:7px; font-family: Verdana,Arial,Helvetica; font-size: 8pt; color: Black; text-align: left;}
A.dtablecenter { border:0px; font-family: Verdana,Arial,Helvetica; font-size: 8pt; text-align: center; word-wrap: none;}
TD.dtablecenter {  border:0px; font-family: Verdana,Arial,Helvetica; font-size: 8pt; color: Black; text-align: center; word-wrap: break-word;}
TD.dtableright {  border:0px; font-family: Verdana,Arial,Helvetica; font-size: 8pt; color: Black; text-align: right; word-wrap: break-word;}
TEXTAREA.dtable { background-color: transparent; border-style:inset; font-family: Verdana,Arial,Helvetica; font-size: 8pt; color: Black; width: 100%; height: 49px; overflow: auto; vertical-align: middle; }
TEXTAREA.dtableright { background-color: transparent; border-type:inset; font-family: Verdana,Arial,Helvetica; font-size: 8pt; color: Black; width: 100%; height: 95%; overflow: auto; vertical-align: middle; text-align:right; size:1}
TABLE.dtable {table-layout:fixed; border-width: 0 0 0 0; vertical-align: top; padding: 0; word-wrap: break-word;}
IMG.dtable  { border-style:none; border:0px; background-color:transparent; width: 100%; height: 100%; vertical-align: middle;}
THEAD.dtable { font-family: Verdana,Arial,Helvetica; font-size: 8pt; color: Black; font-weight: normal; height: 100%; width: 100%; word-wrap: break-word;border-top: 0px solid E8E9E9;border-bottom: 0px solid E3E2E8; background-image: url("/wcs/images/tools/list/table_header.gif");}

.PMTERROR {background-color: white; border: 0px;}

TD.COLHEAD {cursor:hand; color: black; border-left-style:solid; border-top: 1px solid E8E9E9; border-bottom: 1px solid #DADBE3; padding-left:7px; text-align:left; background-image: url("/wcs/images/tools/list/table_header.gif"); border-left: 1px solid #6D6D7C; font-weight: normal; font-size: 9pt; }
.COLHEADNORMAL {color: black; border-left-style:solid; border-right-style:solid; border-top-style:solid; border-top: 1px solid #6D6D7C; border-right: 1px solid #6D6D7C; border-bottom: 1px solid #6D6D7C; padding-left:7px; text-align:left; background-image: url("/wcs/images/tools/list/table_header.gif"); border-left: 0px solid #6D6D7C; font-weight: normal; font-size: 9pt; }
TD.CORNER {text-align: center; color: black; border-left-style:solid; border-right-style:solid; border-top-style:solid; border-top: 1px solid #6D6D7C; border-right: 1px solid #6D6D7C; border-bottom: 1px solid #6D6D7C; background-image: url("/wcs/images/tools/list/table_header.gif"); border-left: 1px solid #6D6D7C; font-weight: normal; font-size: 9pt; }
TD.ROWHEAD {background-color: #D1D1D9; text-align: center; cursor:hand; border-left: 1px solid #6D6D7C;}
.toolbarMenu {background-color: #EFEFEF; font-family: Verdana,Arial,Helvetica; font-size: 8pt; color: Black; }

.dtabledisabled {background-color: gray}

BODY.tabtitle { margin-left: 0pt; margin-top: 10pt; font-family: Verdana; font-size: 10pt; color: Black; word-wrap: break-word; }

TD.jtree { height: 8px; font-family: Verdana,Arial,Helvetica; font-size: 8pt; color: Black; text-align: left;}

DIV.TOOLTIP {
	background : InfoBackground; 
	cursor:hand;
	border : 1px solid Black;
	border-bottom-style : outset;
	border-bottom-color : Black;
	border-bottom-width : 1px;
	border-right-style : outset;
	border-right-color : Black;
	border-right-width : 1px;
	padding : 3px;
	paddingTop : 2px;
	font-size: 8pt;
	position:absolute; 
	display:none; };


BODY.NavCatTargetTitle { margin-left: 10pt; margin-top: 0pt; font-family: Verdana; font-size: 10pt; color: white; word-wrap: break-word; background-color:#D1D1D9; }
BODY.NavCatSourceTitle { margin-left: 10pt; margin-top: 0pt; font-family: Verdana; font-size: 10pt; color: white; word-wrap: break-word; background-color:#D1D1D9; }

TD.attachmentTargetTable { font-family: Verdana,Arial,Helvetica; font-size: 8pt; color: Black; word-wrap: break-word;  }
TD.attachmentTargetTableText { font-style: italic; font-family: Verdana,Arial,Helvetica; font-size: 8pt; color: Black; word-wrap: break-word; }
TD.attachmentSelectionToolBarNormal {width: auto; padding-left:15px; padding-right:15px; background-color: #EFEFEF; border-width: 1px; border-style: solid; border-color: #EFEFEF;}
TD.attachmentSelectionToolBarHighlight {width: auto; padding-left:15px; padding-right:15px; border-width: 1px; border-style: solid; border-color: #D3D4DB; background-color: #D3D4DB;}
TD.attachmentSelectionToolBarSelected {width: auto; padding-left:15px; padding-right:15px; border-width: 1px;	border-style: solid; border-color: #D3D4DB; background-color: #D3D4DB; }

TABLE.attachmentUsageTitle { font-family: Verdana,Arial,Helvetica; font-size: 10pt; color: Black; font-weight: normal; border-top: 1px solid #6D6D7C; border-bottom: 1px solid #6D6D7C; border-right: 1px solid #6D6D7C; border-left: 1px solid #6D6D7C; background-image: url("/wcs/images/tools/list/table_header.gif"); padding-left: 7px; padding-right: 7px; padding-top: 2px; padding-bottom: 2px; vertical-align: middle; text-align: left; }
TABLE.attachmentTargetTable { border-width:1px; border-style:inset; font-family: Verdana,Arial,Helvetica; font-size: 8pt; color: Black; word-wrap: break-word; background-color:#F0F0F0;}
TABLE.attachmentPreviewTable { border-width:1px; font-family: Verdana,Arial,Helvetica; font-size: 8pt; color: Black; word-wrap: break-word; background-color:#FFFFFF; border-right: 1px solid #6D6D7C; border-left: 1px solid #6D6D7C;}
TABLE.attachmentPreviewTable1 { border-width:1px; font-family: Verdana,Arial,Helvetica; font-size: 8pt; color: Black; word-wrap: break-word; background-color:#EFEFEF; border-right: 1px solid #6D6D7C; border-left: 1px solid #6D6D7C;}
TABLE.attachmentPreviewTable2 { border-width:1px; font-family: Verdana,Arial,Helvetica; font-size: 8pt; color: Black; word-wrap: break-word; background-color:#FFFFFF; border-right: 1px solid #6D6D7C; border-left: 1px solid #6D6D7C;}
TABLE.attachmentPreviewTable3 { border-width:1px; font-family: Verdana,Arial,Helvetica; font-size: 8pt; color: Black; word-wrap: break-word; border-right: 1px solid #6D6D7C; border-left: 1px solid #6D6D7C; border-bottom: 1px solid #6D6D7C;}
TABLE.attachmentPreviewTable4 { border-width:1px; font-family: Verdana,Arial,Helvetica; font-size: 8pt; color: Black; word-wrap: break-word; background-color:#D3D4DB; border-right: 1px solid #6D6D7C; border-left: 1px solid #6D6D7C;}
TABLE.attachmentAssetTable { border-width:1px; border-color:black; font-family: Verdana,Arial,Helvetica; font-size: 8pt; color: Black; word-wrap: break-word; background-color:#FFFFFF;}
TABLE.attachmentAssetTable0 { border-width:1px; font-family: Verdana,Arial,Helvetica; font-size: 8pt; color: Black; word-wrap: break-word; border-right: 1px solid #6D6D7C; border-left: 1px solid #6D6D7C; border-top: 1px solid #6D6D7C;}
TABLE.attachmentAssetTable1 { border-width:1px; font-family: Verdana,Arial,Helvetica; font-size: 8pt; color: Black; word-wrap: break-word; background-color:#EFEFEF; border-right: 1px solid #6D6D7C; border-left: 1px solid #6D6D7C;}
TABLE.attachmentAssetTable2 { border-width:1px; font-family: Verdana,Arial,Helvetica; font-size: 8pt; color: Black; word-wrap: break-word; background-color:#FFFFFF; border-right: 1px solid #6D6D7C; border-left: 1px solid #6D6D7C;}
TABLE.attachmentAssetTable3 { border-width:1px; font-family: Verdana,Arial,Helvetica; font-size: 8pt; color: Black; word-wrap: break-word; border-right: 1px solid #6D6D7C; border-left: 1px solid #6D6D7C; border-bottom: 1px solid #6D6D7C;}
TABLE.attachmentAssetTable { border-width:0px; border-left-width:1px; border-style:inset; font-family: Verdana,Arial,Helvetica; font-size: 8pt; color: Black; word-wrap: break-word; background-color:#F0F0F0;}
TABLE.attachmentThumbnailTable { font-family: Verdana,Arial,Helvetica; font-size: 8pt; color: Black; word-wrap: break-word;}

.attachmentToolTipDiv { position:absolute;z-index:9999; }
.attachmentToolTip { border-width: 1px; border-style: solid; border-color: black; background-color: #FFFFE1; }
.attachmentToolTipFont { font-family: Verdana,Arial,Helvetica; font-size: 8pt; color: Black; word-wrap: break-word; }

A.attachmentSelectionToolBarToolbar {color: black;}

DIV.attachmentH1 { font-family: Verdana,Arial,Helvetica; font-size: 13pt; color: #565665; font-weight: normal; word-wrap: break-word;margin-bottom:7px; }

/* Universal Dialog */

HR.sectionSeparator { width: 98%; color: #5C30A4; }
