<%--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2013, 2014 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
--%>

<object objectType="${inherited}${objectType}">
	<c:set var="showVerb" value="${showVerb2}" scope="request"/>
	<c:set var="businessObject" value="${catalogEntry}" scope="request"/>
	<jsp:include page="/cmc/SerializeChangeControlMetaData" />
	<pageType>${catalogEntryPageType}</pageType> 
	<catenttypeId readonly="true"><wcf:cdata data="${catalogEntry.catalogEntryTypeCode}"/></catenttypeId>
	<catentryId><wcf:cdata data="${catalogEntry.catalogEntryIdentifier.uniqueID}"/></catentryId>
	<pageId><wcf:cdata data="${catalogEntry.catalogEntryIdentifier.uniqueID}"/></pageId>
	<c:set var="pageGroupCatalogEntry" value="" />
	<c:choose>
		<c:when test="${catalogEntry.catalogEntryTypeCode == 'ProductBean'}">
			<c:set var="pageGroupCatalogEntry" value="Product" />
		</c:when>
		<c:when test="${catalogEntry.catalogEntryTypeCode == 'ItemBean'}">
			<c:set var="pageGroupCatalogEntry" value="Item" />
		</c:when>
		<c:when test="${catalogEntry.catalogEntryTypeCode == 'BundleBean'}">
			<c:set var="pageGroupCatalogEntry" value="Bundle" />
		</c:when>
		<c:when test="${catalogEntry.catalogEntryTypeCode == 'DynamicKitBean'}">
			<c:set var="pageGroupCatalogEntry" value="DynamicKit" />
		</c:when>
		<c:when test="${catalogEntry.catalogEntryTypeCode == 'PredDynaKitBean'}">
			<c:set var="pageGroupCatalogEntry" value="PredDynaKit" />
		</c:when>
		<c:when test="${catalogEntry.catalogEntryTypeCode == 'PackageBean'}">
			<c:set var="pageGroupCatalogEntry" value="Kit" />
		</c:when>
	</c:choose>
	<pageGroup>${pageGroupCatalogEntry}</pageGroup> 
	<ownerId><wcf:cdata data="${catalogEntry.catalogEntryIdentifier.externalIdentifier.ownerID}"/></ownerId>
	<objectStoreId>${catalogEntry.catalogEntryIdentifier.externalIdentifier.storeIdentifier.uniqueID}</objectStoreId>
	<partnumber readonly="true" ><wcf:cdata data="${catalogEntry.catalogEntryIdentifier.externalIdentifier.partNumber}"/></partnumber>
	<c:set var="name" value=""/>
	<c:forEach var="description" items="${catalogEntry.description}">
		<c:set var="name" value="${description.name}"/>
		<sDesc><wcf:cdata data="${description.shortDescription}"/></sDesc>
		<lDesc><wcf:cdata data="${description.longDescription}"/></lDesc>
		<keyword><wcf:cdata data="${description.keyword}"/></keyword>
		<imageStoreId>${catalogEntry.catalogEntryIdentifier.externalIdentifier.storeIdentifier.uniqueID}</imageStoreId>
		<fImage><wcf:cdata data="${description.fullImage}"/></fImage>
		<tImage><wcf:cdata data="${description.thumbnail}"/></tImage>
	</c:forEach>
	<name readonly="true"><wcf:cdata data="${name}"/></name>
	<c:forEach var="userDataField" items="${catalogEntry.userData.userDataField}">
		<x_${userDataField.typedKey}><wcf:cdata data="${userDataField.typedValue}"/></x_${userDataField.typedKey}>
	</c:forEach>
</object>
