<%--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2013, 2014 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
--%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
<%@ taglib uri="http://commerce.ibm.com/foundation" prefix="wcf"%>

<c:set var="pageId" value="${pagelocation.page.pageIdentifier.uniqueID}"/>

<c:choose>
	<%-- Get Content page SEO data --%>
	<c:when test="${pageGroup == 'Content'}">
		<wcf:getData type="com.ibm.commerce.pagelayout.facade.datatypes.PageType"
			var="contentpage"
			expressionBuilder="getContentPagesByUniqueID"
			varShowVerb="showVerb">
			<wcf:contextData name="storeId" data="${currentStoreId}"/>
			<wcf:param name="pageId" value="${pageId}"/>
			<wcf:param name="dataLanguageIds" value="${supportedDataLangIds}"/>
			<wcf:param name="accessProfile" value="IBM_Admin_Details"/>
		</wcf:getData>
		
		<c:if test="${contentpage != null}">
			<c:set var="SEOURLs" value="${contentpage.SEOURL}" />
			
			<c:if test="${!empty SEOURLs }">
				<jsp:directive.include file="SerializeContentPagePreviewUrl.jspf"/> 
			</c:if>  
		</c:if>				
	</c:when>
	
	<%-- Get Catalog Group SEO data --%>
	<c:when test="${pageGroup == 'Category'}">
		<wcf:getData type="com.ibm.commerce.catalog.facade.datatypes.CatalogGroupType[]"
			var="category" 
			expressionBuilder="getCatalogGroupSEOByID">
			<wcf:contextData name="storeId" data="${currentStoreId}"/>
			<wcf:contextData name="catalogId" data="${defaultCatalogIds[currentStoreId]}"/>
			<wcf:param name="catGroupId" value="${pageId}"/>
			<wcf:param name="dataLanguageIds" value="${supportedDataLangIds}"/>
		</wcf:getData>
		
		<c:if test="${category != null}">
			<c:forEach var="catalogGroup" items="${category}">
				<c:if test="${!empty catalogGroup }">
					<jsp:directive.include file="SerializeCatalogGroupPagePreviewUrl.jspf"/>
				</c:if>  
	 		</c:forEach>
		</c:if>
	</c:when>
	
	<%-- Get Catalog Entry SEO data --%>
	<c:when test="${pageGroup == 'Product' || pageGroup == 'Kit' || pageGroup == 'DynamicKit' || pageGroup == 'PredDynaKit' || pageGroup == 'Item' || pageGroup == 'Bundle'}">
		<wcf:getData type="com.ibm.commerce.catalog.facade.datatypes.CatalogEntryType[]"
			var="catalogEntry" 
			expressionBuilder="getCatalogEntrySEOByID">
			<wcf:contextData name="storeId" data="${currentStoreId}"/>
			<wcf:contextData name="catalogId" data="${defaultCatalogIds[currentStoreId]}"/>
			<wcf:param name="catEntryId" value="${pageId}"/>
			<wcf:param name="dataLanguageIds" value="${supportedDataLangIds}"/>
		</wcf:getData>
		
		<c:if test="${catalogEntry != null}">
			<c:forEach var="catentry" items="${catalogEntry}">
				<c:if test="${!empty catentry}">
					<jsp:directive.include file="SerializeCatalogEntryPagePreviewUrl.jspf"/>
				</c:if>  
	 		</c:forEach>
		</c:if>
	</c:when>
	
	<c:otherwise></c:otherwise>
</c:choose>
