<%--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2010 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
--%>

<c:set var="inherited" value=""/>
<c:if test="${promotionCodeImport.storeIdentifier.uniqueID != param.storeId}">
	<c:set var="inherited" value="Inherited"/>
</c:if>

<object objectType="${inherited}PromotionCodeImport">
    <promotionCodeImportId readonly="true">${promotionCodeImport.fileUploadJobIdentifier.uniqueID}</promotionCodeImportId>
    <objectStoreId>${promotionCodeImport.storeIdentifier.uniqueID}</objectStoreId>
	<fileName readonly="true"><wcf:cdata data="${promotionCodeImport.uploadFile.fileInfo.fileName}"/></fileName>
	<filePath readonly="true"><wcf:cdata data="${promotionCodeImport.uploadFile.fileInfo.filePath}"/></filePath>
	<fileSize readonly="true"><wcf:cdata data="${promotionCodeImport.uploadFile.fileInfo.fileSize}"/></fileSize>
	<fileEncoding readonly="true"><wcf:cdata data="${promotionCodeImport.uploadFile.fileInfo.fileEncoding}"/></fileEncoding>
	<uploadTime readonly="true"><wcf:cdata data="${promotionCodeImport.uploadFile.uploadTime}"/></uploadTime>
	<userName readonly="true"><wcf:cdata data="${promotionCodeImport.uploadFile.userName}"/></userName>
	<summary readonly="true"><wcf:cdata data="${promotionCodeImport.processFile[0].processInfo}"/></summary>
</object>