/*
Copyright (c) 2003-2014, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license

Portions Copyright IBM Corp., 2010-2014.
*/

/* The outer container of the dialog - restore the dialog visibility */
.cke_dialog {
	visibility: visible;
}

/* The inner boundary container. */
.cke_dialog_body {
	position: relative;
	border:3px solid #555/*this is needed for IE*/;
	border:3px solid rgba(2, 2, 2, 0.4);
	-moz-border-radius:3px;
	border-radius:3px;
 	-moz-box-shadow:0 0 15px rgba(0, 0, 0, 0.4);
 	-webkit-box-shadow:0 0 15px rgba(0, 0, 0, 0.4);
 	box-shadow:0 0 15px rgba(0, 0, 0, 0.4);
}

/* Due to our reset we have to recover the styles of some elements. */
/*strong */
.cke_dialog strong
{
	font-weight: bold;
}

/* The dialog title. */
.cke_dialog_title {
	position:relative;
	padding: 12px 18px 35px 20px;
	border-bottom:0;
	background:#3c3c3c;
	background-image:-moz-linear-gradient(top, #3c3c3c 0%, #252525 100%);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#3c3c3c), color-stop(100%,#252525));
	margin-right:0;
	font-size:1.2em;
	font: Arial,Helvetica,sans-serif;
	font-weight:bold;
	color: #FFFFFF;
	display: block;
	float: none;
	cursor: move;
}

/* The outer part of the dialog contants, which contains the contents body
   and the footer. */
 .cke_dialog_contents {
	background-color: #fff;
	overflow: auto;
	border-bottom: 1px solid #AAAAAA;
	max-height: 300px;
}

.cke_dialog_contents_body{
	padding: 14px 18px;
	border-bottom: 0 none;
}

/* The dialog footer, which usually contains the "Ok" and "Cancel" buttons as
   well as a rsizer handle. */
.cke_dialog_footer {
	background-color:#FFFFFF;
	border-top: 1px solid #AAAAAA;
	text-align: right;
}

.cke_rtl .cke_dialog_footer {
	text-align:left;
}

/*.cke_dialog_footer .cke_resizer
{
	margin-top: 24px;
}

.cke_dialog_footer .cke_resizer_ltr
{
	border-right-color: #ccc;
}

.cke_dialog_footer .cke_resizer_rtl
{
	border-left-color: #ccc;
}

.cke_hc .cke_dialog_footer .cke_resizer
{
	margin-bottom: 1px;
}

.cke_hc .cke_dialog_footer .cke_resizer_ltr
{
	margin-right: 1px;
}

.cke_hc .cke_dialog_footer .cke_resizer_rtl
{
	margin-left: 1px;
}
*/

/*
 *-- Dialog Tabs -----------------------------------------------------------------------
 */
/* The main tabs container. */
.cke_dialog_tabs {
	height: 26x;
	background-color: transparent none repeat scroll 0; /* Modified (#e3e3c7) */
	display: inline-block;
	margin-left: 20px;
	margin-right: 10px;
	margin-top: -26px;
	_margin-top: -27px;
	position: absolute;
	z-index: 2;
}

.cke_rtl .cke_dialog_tabs {
	right: 10px;
}

/* A single tab (an <a> element). */
a.cke_dialog_tab,
a:link.cke_dialog_tab,
a:visited.cke_dialog_tab
a:hover.cke_dialog_tab,
a:active.cke_dialog_tab {
	color: #CCCCCC !important;
	cursor: pointer;
	display: inline-block;
	margin-right: 3px;
	padding: 0px 10px 12px;
	border-left: 1px solid #666666;
	text-decoration: none !important;
}

a.cke_dialog_tab:first-child,
a:link.cke_dialog_tab:first-child,
a:visited.cke_dialog_tab:first-child
a:hover.cke_dialog_tab:first-child,
a:active.cke_dialog_tab:first-child
{
	 border-left: 0 none;
}

.cke_rtl a.cke_dialog_tab:first-child,
.cke_rtl a:link.cke_dialog_tab:first-child,
.cke_rtl a:hover.cke_dialog_tab:first-child,
.cke_rtl a:visited.cke_dialog_tab:first-child,
.cke_rtl a:active.cke_dialog_tab:first-child
{
	 border-right: 0 none;
}

.cke_rtl a.cke_dialog_tab,
.cke_rtl a:link.cke_dialog_tab,
.cke_rtl a:visited.cke_dialog_tab,
.cke_rtl a:hover.cke_dialog_tab,
.cke_rtl a:active.cke_dialog_tab
{
	border-right: 1px solid #666666;
	border-left: 0 none;
}

.cke_hc a.cke_dialog_tab,
.cke_hc.cke_rtl a.cke_dialog_tab
{
	border: 0;
}

a.cke_dialog_tab_selected,
a.cke_dialog_tab_selected:link,
a.cke_dialog_tab_selected:visited,
a.cke_dialog_tab_selected:hover,
a.cke_dialog_tab_selected:active
{
	cursor: default;
	color: #FFFFFF !important;
	font-weight: bold;
	text-decoration: none;
	background-image: url(images/sprite.png);
    background-position:50% -208px;
    background-repeat: no-repeat;
}

.cke_hc.cke_rtl a.cke_dialog_tab_selected,
.cke_hc.cke_rtl a.cke_dialog_tab_selected:link,
.cke_hc.cke_rtl a.cke_dialog_tab_selected:visited,
.cke_hc.cke_rtl a.cke_dialog_tab_selected:hover,
.cke_hc.cke_rtl a.cke_dialog_tab_selected:active,
.cke_hc a.cke_dialog_tab_selected,
.cke_hc a.cke_dialog_tab_selected:link,
.cke_hc a.cke_dialog_tab_selected:visited,
.cke_hc a.cke_dialog_tab_selected:hover,
.cke_hc a.cke_dialog_tab_selected:active {
	padding: 2px 8px;
	border: 1px solid;
}

/* The .cke_single_page class is appended to the dialog outer element in case
   of dialogs that has no tabs. */
.cke_single_page .cke_dialog_tabs {
	display: none;
}

.cke_single_page .cke_dialog_title {
	padding-bottom: 12px;
}

/* The close button at the top of the dialog. */
.cke_dialog .cke_dialog_body .cke_dialog_close_button {
	background-image: url(images/sprite.png);
	background-position:0 -300px;
	background-repeat: no-repeat;
	cursor: pointer;
	position: absolute;
	height: 32px;
	width: 32px;
	top: -14px;
	-moz-border-radius: 2px;
}

.cke_dialog_close_button span {
	display: none;
}

.cke_ltr .cke_dialog_close_button {
	right: -14px;
}

.cke_rtl .cke_dialog_close_button {
	left: -14px;
}

.cke_hc.cke_ltr .cke_dialog_close_button{
	right : 14px;
}
.cke_hc.cke_rtl .cke_dialog_close_button {
	left : 14px;
}

.cke_hc.cke_ltr .cke_dialog_body .cke_dialog_close_button,
.cke_hc.cke_rtl .cke_dialog_body .cke_dialog_close_button {
	border: 1px solid #000000;
    padding: 3px;
	height: 15px;
	width: 7px;
	top: 10px;
}


/*Dialog UI Elements */
div.cke_disabled .cke_dialog_ui_labeled_content * {
	padding-left: 0;
	margin: 0;
	background-color : #a0a0a0;
	cursor : default;
}

/*Horizontal-Box and Vertical-Box */
.cke_dialog_ui_vbox table,
.cke_dialog_ui_hbox table {
	margin: auto;
}

.cke_dialog_ui_vbox_first,
.cke_dialog_ui_vbox_child,
.cke_dialog_ui_vbox_last {
	padding: 1px 0px 1px 0px;
}

.cke_dialog_ui_hbox {
	width: 100%;
}

.cke_dialog_ui_hbox_first,
.cke_dialog_ui_hbox_child,
.cke_dialog_ui_hbox_last {
	vertical-align: top;
	padding: 0px;
}

.cke_ltr .cke_dialog_ui_hbox_first,
.cke_ltr .cke_dialog_ui_hbox_child {
	padding: 0px 5px 0px 0px;
}

.cke_rtl .cke_dialog_ui_hbox_first,
.cke_rtl .cke_dialog_ui_hbox_child {
	padding: 0px 0px 0px 5px;
}

/*Text Input*/
input.cke_dialog_ui_input_text,
input.cke_dialog_ui_input_password {
	border: none;
	height: 15px;
	width: 97%;
	padding: 1px 0px;
}

div.cke_dialog_ui_input_text,
div.cke_dialog_ui_input_password {
	background-color: #FFFFFF;
	border: 1px solid #a0a0a0;
	padding: 1px 0px;
}

/*
Textarea */
textarea.cke_dialog_ui_input_textarea {
	background-color: #FFFFFF;
	border: 1px solid #a0a0a0;
	padding: 2px;
	width: 98%;
	overflow: auto;
	resize: none;
}

div.cke_dialog_ui_input_textarea {
	background-color: #FFFFFF;
}

/*
Button
*/
/* The outer part of the button. */
/*.cke a.cke_dialog_ui_button {*/
a.cke_dialog_ui_button {
	margin-right:5px;
	border:0;
	margin-bottom:3px;
	background-color:#e7e7e7;
	border-collapse:separate;
	background-image:-moz-linear-gradient(top, #ededed 0%, #e1e1e1 100%);
	background-image:-webkit-gradient(linear, left top, left bottom, from(#ededed), to(#e1e1e1));
	background-image:linear-gradient(top, #ededed, #e1e1e1);
  	color:#333;
	font-weight:bold;
	font-size: 0.9em;
	text-align:center;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow:0 1px 1px rgba(0,0,0,0.5);
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.5);
	box-shadow:0 1px 1px rgba(0,0,0,0.5);
	padding:5px 15px;
	text-shadow:0 1px 1px #fff;
	cursor: pointer;
}

/* The inner part of the button. */
.cke_hc a.cke_dialog_ui_button {
	border: 1px solid #666;
	padding:4px 14px;
}

a.cke_dialog_ui_button span.cke_disabled {
	-moz-box-shadow:none !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
	color : #7C7C7C !important;
	cursor:default !important;
}

a.cke_dialog_ui_button.cke_disabled {
	color:#7c7c7c !important;
	border-width:0;
	-moz-box-shadow:0 1px 1px rgba(0,0,0,0.5) !important;
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.5) !important;
	box-shadow:0 1px 1px rgba(0,0,0,0.5) !important;
	cursor:default !important;
}

.cke_hc a.cke_dialog_ui_button.cke_disabled{
	border: 1px solid #666666;
    padding: 4px 14px;
	opacity: 0.5;
}

/*.cke span.cke_dialog_ui_button {*/
span.cke_dialog_ui_button{
	display: inline-block;
	text-align: center;
	cursor: pointer;
	color: #333;
	font-weight:bold;
	font-size: 1em;
}

a.cke_dialog_ui_button:focus,
a.cke_dialog_ui_button:hover,
a.cke_dialog_ui_button:active  {
	 color:#000;
	-moz-box-shadow:0 2px 1px rgba(0,0,0,0.5);
	-webkit-box-shadow:0 2px 1px rgba(0,0,0,0.5);
	box-shadow:0 2px 1px rgba(0,0,0,0.5);
}

.cke_hc a.cke_dialog_ui_button:hover,
.cke_hc a.cke_dialog_ui_button:focus,
.cke_hc a.cke_dialog_ui_button:active{
	border-width: 2px;
	padding: 3px 13px;
}

/* A special container that holds the footer buttons. */
.cke_dialog_footer_buttons {
	display: inline-table;
	margin-right: 20px;
	margin-left: 24px;
	width: auto;
}

.cke_dialog_footer_buttons span.cke_dialog_ui_button {
	margin: 12px 0;
	cursor: pointer;
}

/*
Styles for other dialog element types. 
*/
select.cke_dialog_ui_input_select {
	border: 1px solid #a0a0a0;
	border-collapse:collapse;
	background-color: #FFFFFF;
	height: 21px;
}

.cke_hc div.cke_dialog_ui_select div.cke_dialog_ui_input_select {
	border: 1px solid #a0a0a0;
}

.cke_dialog_ui_input_file {
	width: 100%;
	height: 25px;
}

/*input.cke_dialog_ui_checkbox_input {*/
.cke_dialog_ui_checkbox_input {
	vertical-align: middle; /* Keep the checkbox label centered. */
}

/*
 * Some utility CSS classes for dialog authors.
 */
.cke_dialog .cke_dark_background {
	text-align : center;
	background-color: #fff;
}

/* Used to highlight entries on the special chars dialog as a user navigates through them */
.cke_dialog .cke_light_background {
	text-align : center;
	background-color: #E0DEDE;
	border: 1px solid #A0A0A0;
	padding : 1px;
}

.cke_dialog .cke_centered  {
	text-align: center;
}

/*.cke_dialog .cke_dialog_ui_hbox .cke_dialog_ui_html .cke_btn_reset {*/
.cke_dialog .cke_btn_reset {
	float: right;
	background-image: url(images/sprite.png); 
	background-position:-8px -269px;
	width: 18px;
	height: 18px;
	background-repeat: no-repeat;
	border: 2px solid #FFFFFF;
	font-size: 1px;
	margin: 2px;
	outline: none;
}

.cke_rtl .cke_dialog  .cke_btn_reset {
	float: left;
}

.cke_dialog .cke_btn_locked,
.cke_dialog .cke_btn_unlocked {
	float: right;
    background-image: url(images/sprite.png);
    background-position:-8px -125px;
	width: 18px !important;
	height: 18px !important;
	background-repeat: no-repeat !important;
	border: 2px solid #FFFFFF;
	font-size: 1px;
	margin: 2px;
	outline: none;
}

.cke_dialog a.cke_btn_locked .cke_icon
{
	display:none;
}

.cke_rtl  .cke_dialog .cke_btn_locked,
.cke_rtl  .cke_dialog .cke_btn_unlocked {
	float: left;
}

.cke_dialog a.cke_btn_unlocked {
	background-position:-8px -93px;
}

/*
The rest of the file contains style used on several common plugins. There is a
tendency that these will be moved to the plugins code in the future.
*/
.cke_dialog  .ImagePreviewBox {
	white-space : normal;
	border : 1px solid #A0A0A0;
	overflow : scroll;
	height : 140px;
	width: 320px;
	padding : 2px;
	margin-top : 5px;
	background-color : #FFFFFF;
}

.cke_dialog .ImagePreviewBox table td {
	white-space: normal;
}

.cke_dialog  .ImagePreviewLoader {
	position: absolute;
	white-space : normal;
	overflow : hidden;
	height : 160px;
	width : 230px;
	margin : 2px;
	padding : 2px;
	opacity : 0.9;
	filter : alpha(opacity=90);
	background-color : #e4e4e4;
}

.cke_dialog  .FlashPreviewBox {
	white-space : normal;
	border : 1px solid #A0A0A0;
	overflow : auto;
	height : 160px;
	background-color : #FFFFFF;
}

.cke_dialog .cke_pastetext textarea {
	height: 200px;
	resize: none;
}

.cke_dialog iframe.cke_pasteframe {
	width: 99%;
	height: 200px;
	background-color: #FFFFFF;
	border: 1px solid #A0A0A0;
}

.cke_dialog .cke_hand {
	cursor: pointer;
}

.cke_disabled {
	color: #a0a0a0;
}

/*
High Contrast Mode.
*/
/*.cke_hc .cke_dialog_footer a {*/
.cke_hc .cke_dialog_footer a {
	opacity: 1;
	filter: alpha(opacity=100);
	border: 1px solid #FFFFFF;
}

.cke_hc .cke_dialog_close_button span {
	display: inline;
	cursor: pointer;
	font-size: 1.1em;
	position: relative;
}

.cke_dialog_body .cke_label {
	display: none;
}

.cke_hc .cke_dialog_body .cke_label {
	display: inline;
	cursor: inherit;
}

a.cke_smile img {
	padding: 2px 1px;
}

a.cke_smile:focus img,
a.cke_smile:active img,
a.cke_smile:hover img  {
	border: 1px solid #C0C0C0;
	padding: 0;
}

a.cke_specialchar
{
	cursor: inherit;
	display: block;
	height: 1.25em;
	margin-top: 0.25em;
	text-align: center;
}

.cke_hc .ImagePreviewBox
{
	width: 260px;
}

/**
 * Styles specific to "cellProperties" dialog.
 */
a.cke_dialog_ui_button.colorChooser  {
	margin-right: 0px;
}

/* Compensate focus outline for some input elements. (#6200) */



.cke_iframe_shim {
	display:block;
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	filter:alpha(opacity=0);
	width:100%;
	height:100%;
}

/**
 * Styles specific to "a11yhelp" dialog.
 */
.cke_hc a.cke_dialog_ui_button.ibmHelpDocumentationUrl,
.cke_browser_ie.cke_browser_ie7 a.cke_dialog_ui_button.ibmHelpDocumentationUrl,
a.cke_dialog_ui_button.ibmHelpDocumentationUrl {
	background-image: none;
	background-color: transparent;
    box-shadow: none;
	cursor: default;
	text-shadow: none;
	border : 0 none;
	padding : 3px 9px 4px;
}

.cke_hc a.cke_dialog_ui_button.ibmHelpDocumentationUrl:hover {
	border-width: 2px;
	padding: 1px 7px 2px;
}

.cke_browser_ie.cke_browser_ie7 span.cke_dialog_ui_button.ibmHelpDocumentationUrl,
span.cke_dialog_ui_button.ibmHelpDocumentationUrl {
	font-size: 1em;
	color : blue;
	cursor : pointer;
	padding : 0;
}


.cke_browser_ie a.cke_dialog_ui_button.ibmHelpDocumentationUrl:focus,
.cke_browser_ie a.cke_dialog_ui_button.ibmHelpDocumentationUrl:hover,
.cke_browser_ie a.cke_dialog_ui_button.ibmHelpDocumentationUrl:active,
a.cke_dialog_ui_button.ibmHelpDocumentationUrl:focus,
a.cke_dialog_ui_button.ibmHelpDocumentationUrl:hover,
a.cke_dialog_ui_button.ibmHelpDocumentationUrl:active  {
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	cursor : pointer;
	border: 1px solid #aaa;
	padding: 2px 8px 3px;
}




/********************************************EXTRAS***********************************************************/

fieldset.cke_dialog_ui_fieldset {
	padding: 0;
}

.cke_dialog .dark_background {
	background-color: black; /* Modified (#eaead1) */
}

.cke_dialog .hand  {
	cursor: pointer;
}

.cke_dialog .cke_dialog_ui_hbox .cke_dialog_ui_html a.cke_btn_locked:active,
.cke_dialog .cke_dialog_ui_hbox .cke_dialog_ui_html a.cke_btn_unlocked:active,
.cke_dialog .cke_dialog_ui_hbox .cke_dialog_ui_html a.cke_btn_reset:active,
.cke_dialog .cke_dialog_ui_hbox .cke_dialog_ui_html a.cke_btn_locked:focus,
.cke_dialog .cke_dialog_ui_hbox .cke_dialog_ui_html a.cke_btn_unlocked:focus,
.cke_dialog .cke_dialog_ui_hbox .cke_dialog_ui_html a.cke_btn_reset:focus {
	border: 3px solid #C0C0C0;
	cursor: pointer;
	margin: 1px;
}

.cke_hc .cke_dialog_ui_hbox .cke_dialog_ui_html a.cke_btn_locked,
.cke_hc .cke_dialog_ui_hbox .cke_dialog_ui_html a.cke_btn_unlocked,
.cke_hc  .cke_dialog_ui_hbox .cke_dialog_ui_html a.cke_btn_reset {
	height: auto !important;
	width: auto !important;
	padding: 3px;
}

.cke_hc a.cke_btn_locked .cke_icon
{
	display:inline;
}

.cke_hc .cke_dialog_ui_text.cke_disabled,
.cke_hc .cke_dialog_ui_select.cke_disabled
{
	opacity: 0.5;
}

.cke_dialog_ui_labeled_label {
	display: block;
}

.cke_rtl .cke_dialog_ui_labeled_label {
	margin-left: 5px;
}

legend {

	font-weight:bold;
}

/* This is a fix to make smiley more useable in HC */
.cke_hc a.cke_smile img {
	border: none;
	margin: 2px;
}

/* This is part of the above */
.cke_hc a.cke_smile:focus img,
.cke_hc a.cke_smile:active img,
.cke_hc a.cke_smile:hover img {
	border: 2px solid purple;
	margin: 0;
}

.cke_dialog label
{
	display: inline;
 	margin-bottom: auto;
 	cursor: default;
}

/* Hide the divs that appear around a dialog. The are used to display shadows etc.
See the V2 or Office2003 skin. */
.cke_dialog_tl,
.cke_dialog_tr,
.cke_dialog_tc,
.cke_dialog_bl,
.cke_dialog_br,
.cke_dialog_bc {
	display:none;
	_z-index: -1;
}

/*quirks mode styling*/
.cke_browser_quirks .cke_dialog_close_button
{
		padding-bottom: 5px;
		padding-right: 5px;
}
