/*
Copyright (c) 2003-2014, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license

Portions Copyright IBM Corp., 2010-2014.
*/

/*
dialog_iequirks.css
===============

This file contains styles to used by all versions of Internet Explorer
in Quirks mode only.
*/

/* Base it on dialog_ie.css, overriding it with styles defined in this file. */
@import url("dialog_ie.css");

/*Lock and Reset buttons on image dialog*/
.cke_dialog .cke_dialog_ui_hbox .cke_dialog_ui_html a.cke_btn_locked:active,
.cke_dialog .cke_dialog_ui_hbox .cke_dialog_ui_html a.cke_btn_unlocked:active,
.cke_dialog .cke_dialog_ui_hbox .cke_dialog_ui_html a.cke_btn_reset:active,
.cke_dialog .cke_dialog_ui_hbox .cke_dialog_ui_html a.cke_btn_locked:focus,
.cke_dialog .cke_dialog_ui_hbox .cke_dialog_ui_html a.cke_btn_unlocked:focus,
.cke_dialog .cke_dialog_ui_hbox .cke_dialog_ui_html a.cke_btn_reset:focus {
	border: 1px solid #C0C0C0;
}

/*Preview field on image dialog */
.cke_dialog  .ImagePreviewBox {
	width: 370px;
}

/*Close button on dialogs */
.cke_dialog .cke_dialog_body  .cke_dialog_close_button {
		padding-bottom: 30px;
		padding-right: 22px;
		padding-left: 8px;
}

.cke_rtl .cke_dialog_close_button {
	right: -14px;
	top : -10px !important;
}

/*Dialog tabs in RTL*/
.cke_rtl a.cke_dialog_tab_selected,
.cke_rtl a.cke_dialog_tab_selected:link,
.cke_rtl a.cke_dialog_tab_selected:visited,
.cke_rtl a.cke_dialog_tab_selected:hover,
.cke_rtl a.cke_dialog_tab_selected:active
{
	padding: 0px 8px 12px;
	border-left: 0;
	border-top: 0;
	border-bottom: 0;
}

/* Required for Emoticons dialog - Fix iframedialog's height doesn't stretch to 100% #4863.*/
.cke_dialog_ui_vbox.cke_dialog_page_contents {
	position: absolute;
}

.cke_dialog_contents{
	position: relative;
}
