/*
Copyright (c) 2003-2014, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license

Portions Copyright IBM Corp., 2010-2014.
*/

/*
dialog_ie.css
===============

This file contains styles to used by all versions of Internet Explorer only.
*/

/* Base it on dialog.css, overriding it with styles defined in this file. */
@import url("dialog.css");

/*Add a border to dialog buttons*/
a.cke_dialog_ui_button {
	border: 1px solid #aaa;
	padding:4px 14px;
}

a.cke_dialog_ui_button:focus,
a.cke_dialog_ui_button:hover,
a.cke_dialog_ui_button:active  {
	border: 1px solid #666;
}

a.cke_dialog_ui_button.cke_disabled:hover,
a.cke_dialog_ui_button.cke_disabled:active{
	border-color:#e7e7e7;
}

/*Hover over Lock and Reset buttons on the image dialog*/
.cke_dialog_contents .cke_btn_over
{
	outline: 1px dotted #696969;
}

/* Fix for dialog titles with mixed language direction words. */
.cke_rtl .cke_dialog_title {
	writing-mode: lr-tb; 
}

/* border-radius in IE9/10 moves text to the left and background to the right to avoid it  display should be set to inline-block*/
.cke_rtl a.cke_dialog_ui_button {
	display: inline-block;
}
/* border-radius in IE9/10 moves text to the left and background to the right to avoid it  display should be set to inline*/
.cke_rtl span.cke_dialog_ui_button {
	display: inline;
}

.cke_rtl input.cke_dialog_ui_input_text,
.cke_rtl input.cke_dialog_ui_input_password {
	padding: 1px 2px 0px 0px;
}

