/*
Copyright (c) 2003-2014, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license

Portions Copyright IBM Corp., 2010-2014.
*/

/*
dialog_ie7.css
===============

This file contains styles to used by Internet Explorer 7 only.
*/

/* Base it on dialog_ie.css, overriding it with styles defined in this file. */
@import url("dialog_ie.css");

/*Focus border around checkboxes and radio buttons - IE<8 instead doesn't support CSS outline property, emulated with dotted border. */
.cke_dialog_contents .cke_dialog_ui_focused,
.cke_dialog_contents .cke_btn_over
{
	border: 1px dotted #696969 !important;
}

/* Predefined border to avoid visual size change impact on mouseover. */
.cke_dialog_ui_checkbox_input,
.cke_dialog_ui_ratio_input,
.cke_btn_reset,
.cke_btn_locked,
.cke_btn_unlocked
{
	border: 1px solid transparent !important;
}

/*dialog buttons */
a.cke_dialog_ui_button,
a.cke_dialog_ui_button:focus,
a.cke_dialog_ui_button:hover,
a.cke_dialog_ui_button:active {
	padding:0px;
}

span.cke_dialog_ui_button {
	padding:5px 15px;
}

.cke_rtl a.cke_dialog_ui_button  {
	margin-left: 0px;
}

/*Fix for transparent line at top of all dialogs in IE7*/
.cke_dialog_title {
	overflow: hidden;
}

/* IE7 needs position static */
.cke_dialog_footer_buttons
{
	position: static;
}

/*More Help Topics link on a11yhelp dialog*/
.cke_dialog_contents a.cke_dialog_ui_button.ibmHelpDocumentationUrl:focus,
.cke_dialog_contents a.cke_dialog_ui_button.ibmHelpDocumentationUrl:hover,
.cke_dialog_contents a.cke_dialog_ui_button.ibmHelpDocumentationUrl:active {
	border: 1px solid #aaa;
	padding: 0px 8px 0px;
}

/*Text input fields */
input.cke_dialog_ui_input_text,
input.cke_dialog_ui_input_password {
	padding: 1px 0px 0px 0px;
}


div.cke_dialog_ui_input_text,
div.cke_dialog_ui_input_password {
	background-color: #FFFFFF;
	border: 1px solid #a0a0a0;
	padding: 0px 0px;
}
