/*
Copyright (c) 2003-2014, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license

Portions Copyright IBM Corp., 2010-2014.
*/

/*
dialog_gecko.css
===============

This file contains styles to used by all versions of Firefox only.
*/

/* Base it on dialog.css, overriding it with styles defined in this file. */
@import url("dialog.css");

/* Compensate focus outline for some input elements. (#6200) */
.cke_dialog_ui_checkbox_input:focus,
.cke_dialog_ui_radio_input:focus,
.cke_dialog_ui_input_select:focus,
.cke_dialog_contents .cke_btn_over
{
	outline: 1px dotted #696969;
}

/* Force Gecko to consider table as positioned */
 table.cke_dialog {
	display:block;
}

a.cke_dialog_tab {
	padding-bottom: 11px;
}


/*FF <= version 2 styles*/
.cke_browser_gecko18.cke_hc div.cke_dialog_ui_input_text,
.cke_browser_gecko18.cke_hc div.cke_dialog_ui_input_password {
	border-width: 1px;
}

/* Gecko 1.8 does not support display: inline-block */
.cke_browser_gecko18 .cke_dialog_footer_buttons span.cke_dialog_ui_button {
	display: -moz-box;
	margin-bottom: 9px;
}

/* Gecko 1.8 layout workaround. */
.cke_browser_gecko18 a.cke_dialog_tab,
.cke_browser_gecko18 a:link.cke_dialog_tab,
.cke_browser_gecko18 a:active.cke_dialog_tab,
.cke_browser_gecko18 a:hover.cke_dialog_tab,
.cke_browser_gecko18 a:visited.cke_dialog_tab {
	display: -moz-box;
}

/* Gecko 1.8 does not support for display: inline-table */
.cke_browser_gecko18 .cke_dialog_footer_buttons {
	display: inline;
}

/* Button size fix for FF2 */
.cke_browser_gecko18 span.cke_dialog_ui_button
{
	padding: 2px 10px 4px;
}
