/*
Copyright (c) 2003-2014, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license

Portions Copyright IBM Corp., 2010-2014.
*/

/*
editor_gecko.css
===============

This file contains styles to used by versions of Firefox only.
*/

/* Base it on editor.css, overriding it with styles defined in this file. */
@import url("editor.css");

/*Styles to used by versions of Firefox <=2 only*/
.cke_browser_gecko18 .cke_combo,
.cke_browser_gecko18 .cke_combo .cke_combo_text,
.cke_browser_gecko18 .cke_combo .cke_combo_open
{
	display: block;
	float: left;
}

.cke_browser_gecko18.cke_rtl .cke_combo,
.cke_browser_gecko18.cke_rtl .cke_combo_label,
.cke_browser_gecko18.cke_rtl .cke_combo .cke_combo_text,
.cke_browser_gecko18.cke_rtl .cke_combo .cke_combo_open
{
	float: right;
}

.cke_browser_gecko18 .cke_toolbar,
.cke_browser_gecko18 .cke_button a,
.cke_browser_gecko18 a.cke_button.cke_button_off,
.cke_browser_gecko18 .cke_button_icon,
.cke_browser_gecko18 .cke_button .cke_button_arrow,
.cke_browser_gecko18 .cke_toolbar_start
{
	float: left;
}

.cke_browser_gecko18.cke_hc .cke_button_icon
{
	display: none;
}

.cke_browser_gecko18.cke_rtl .cke_toolbar,
.cke_browser_gecko18.cke_rtl a.cke_button,
.cke_browser_gecko18.cke_rtl a.cke_button.cke_button_off,
.cke_browser_gecko18.cke_rtl .cke_button_icon,
.cke_browser_gecko18.cke_rtl .cke_button .cke_button_arrow,
.cke_browser_gecko18.cke_rtl .cke_toolbar_start
{
	float: right;
}

.cke_browser_gecko18 .cke_button_label,
.cke_browser_gecko18 .cke_toolbar_break
{
	float: left;
}

.cke_browser_gecko18.cke_rtl .cke_combo_inlinelabel
{
	float: right;
}

.cke_browser_gecko18.cke_rtl .cke_button_label,
.cke_browser_gecko18.cke_rtl .cke_toolbar_break
{
	float: right;
}

.cke_browser_gecko18 .cke_button_label
{
	padding-top: 3px;
}