/*
Copyright (c) 2003-2014, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license

Portions Copyright IBM Corp., 2010-2014.
*/

/*
editor_ie.css
===============

This file contains styles to used by all versions of Internet Explorer only.
*/

/* Base it on editor.css, overriding it with styles defined in this file. */
@import url("editor.css");

/* #3766 In the context menu, long labels with second level menu get wrapped */
.cke_menuarrow 
{
	position: relative;
	right: 0; /* Modified (2px) */
}

.cke_rtl .cke_menuarrow
{
	position: relative;
	left: 2px;
}
/* END #3766 */


.cke_rtl .cke_combo_button,
.cke_rtl .cke_combo_label
{
	float: none;
}


.cke_rtl .cke_separator,
.cke_rtl .cke_toolbar_start,
.cke_rtl .cke_toolbar_end
{
	float: none;
}

/* Fix cursor shape consistency on toolbar combos (#4031) */
.cke_rcombo,
.cke_rcombo *
{
	cursor: default;
}

/*.cke_rtl .cke_toolgroup
{
	#float: none;
}

.cke_separator,
.cke_toolbar_start
{
	#display: inline;
	vertical-align: baseline;
}

.cke_rtl .cke_separator,
.cke_rtl .cke_toolbar_start
{
	#float: none;
}*/

a.cke_button,
a.cke_button.cke_button_off,
a.cke_button.cke_button_on,
a.cke_button.cke_button_disabled,
a:focus.cke_button.cke_button_on,
a:active.cke_button.cke_button_on,
a:focus.cke_button.cke_button_off,
a:active.cke_button.cke_button_off
{
	padding-bottom: 2px;
}

.cke_status_container_inline
{
	clear: both;
	text-align:right;
	float: none;
}
.cke_rtl .cke_status_container_inline
{
	clear: both;
	text-align:left;
	float: none;
}
.cke_status_message
{
	clear: both;
	padding: 5px;
	display: inline-block;
	float: none;
}

/*
.cke_toolbar
{
	float:none;
}*/