/*
Copyright (c) 2003-2014, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license

Portions Copyright IBM Corp., 2010-2014.
*/

/*
editor_ie7.css
===============

This file contains styles to used by Internet Explorer 7 only.
*/

/* Base it on editor_ie.css, overriding it with styles defined in this file. */
@import url("editor_ie.css");

/*box-shadow won't work in IE7 so use a border instead */
.cke_floating_toolbox
{
	border-bottom: 2px solid #C0C0C0;
}

.cke_rtl .cke_toolgroup,
.cke_rtl .cke_toolbar_separator,
.cke_rtl .cke_button,
.cke_rtl .cke_button *,
.cke_rtl .cke_combo,
.cke_rtl .cke_combo *,
.cke_rtl .cke_path_item,
.cke_rtl .cke_path_item *,
.cke_rtl .cke_path_empty
{
	float: none;
}

.cke_rtl .cke_toolgroup,
.cke_rtl .cke_toolbar_separator,
.cke_rtl .cke_combo_button,
.cke_rtl .cke_combo_button *,
.cke_rtl .cke_button,
.cke_rtl .cke_button_icon,
{
	display: inline-block;
	vertical-align: top;
}

.cke_rtl .cke_combo_inlinelabel
{
	display: table-cell;
	vertical-align: middle;
}

/*
 * Editor menus are display:table-driven. IE7 doesn't support this approach,
 * hence this position&float hybrid fall-back.
 */
.cke_menubutton
{
	display: block;
	height: 24px;
}

.cke_menubutton_inner
{
	display: block;
	position: relative;
}

.cke_menubutton_icon
{
	height: 16px;
	width: 16px;
}

.cke_menubutton_icon,
.cke_menubutton_label,
.cke_menuarrow
{
	display: inline-block;
}

.cke_menubutton_label
{
	width: auto;
	vertical-align: top;
	line-height: 19px;
	height: 19px;
	margin: 0 10px 0 0;
	
}

.cke_menuarrow
{	
	position: absolute;
	right: 8px;
	top: 8px;
}

/* Menus in RTL mode. */
.cke_rtl .cke_menuarrow
{
	left: 16px;
	right: auto;
	position: absolute;
}

.cke_rtl .cke_menubutton_icon
{
	position: absolute;
	right: 0px;
	top: 0px;
}

.cke_rtl .cke_menubutton_label
{
	float: right;
	clear: both;
	margin: 0 24px 0 10px;
}

.cke_hc .cke_menuarrow
{
	top: 5px;
	padding: 0 5px;
}

.cke_button_arrow
{
	vertical-align: top;
}

.cke_chrome {
	display: block;
}
