/*
Copyright (c) 2003-2014, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license

Portions Copyright IBM Corp., 2010-2014.
*/

/*
editor_opera.css
===============

This file contains styles to used by all versions of Opera only.
*/

/* Base it on editor.css, overriding it with styles defined in this file. */
@import url("editor.css");

.cke_toolbar_start
{
	float: none;
}

.cke_status_container_inline
{
	clear: both;
	float:right;
}
.cke_rtl .cke_status_container_inline
{
	clear: both;
	float:left;
}