/*
Copyright (c) 2003-2014, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license

Portions Copyright IBM Corp., 2010-2014.
*/

/*
editor_ie8.css
===============

This file contains styles to used by Internet Explorer 8 only.
*/

/* Base it on editor_ie.css, overriding it with styles defined in this file. */
@import url("editor_ie.css");


.cke_toolbar,
.cke_toolgroup
{
	vertical-align: top;
}

.cke_toolgroup
{
	display: inline-block;
}

/*box-shadow won't work in IE8 so use a border instead */
.cke_floating_toolbox
{
	border-bottom: 2px solid #C0C0C0;
}

