/*
Copyright (c) 2003-2014, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license

Portions Copyright IBM Corp., 2010-2014.
*/

/*
editor_iequirks.css
===============

This file contains styles to used by all versions of Internet Explorer
in Quirks mode only.
*/

/* Base it on editor_ie.css, overriding it with styles defined in this file. */
@import url("editor_ie.css");

.cke_menubutton_label
{
	height: 24px;
}

/* "Font Size" combo width (IE Quirks) */
.cke_combo__fontsize .cke_combo_text
{
	width: 50px;
}

/*Wrap text when in source view*/
.cke_source {
	white-space: normal;
}

/* Fix for IE height of richcombo text span. */
.cke_combo_text
{
	height: 23px;
}

.cke_top,
.cke_contents,
.cke_bottom
{
	width: 100%;
}

.cke_top
{
	white-space: normal;
}
