/*
Copyright (c) 2003-2014, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license

Portions Copyright IBM Corp., 2010-2014.
*/

/*
elementspath.css (part of editor.css)
=======================================

This file styles the "Elements Path", whith is the list of element names
present at the the bottom bar of the CKEditor interface.
*/

.cke_path
{
	padding: 3px 3px 0 3px;
	display: inline-block;
	float: left;
}

/* Each item of the elements path. */
.cke_path_item,
/* Empty element available at the end of the elements path, to help us keeping
   the proper box size when the elements path is empty. */
.cke_path_empty
{
	display: inline-block;
	float: left;
	/*border: solid 1px #efefde;
	background-color: #efefde;*/
	color: #000000 !important;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 4px;
	padding-right: 4px;
	margin: 1px;
}

.cke_rtl .cke_path,
.cke_rtl .cke_path_item,
.cke_rtl .cke_path_empty
{
	float: right;
}

/* The items are <a> elements, so we define its hover states here. */
a.cke_path_item:hover,
a.cke_path_item:focus,
a.cke_path_item:active
{
	border: solid 1px #C0C0C0;
	cursor: pointer;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 3px;
	padding-right: 3px;
	text-decoration: none !important;
}

.cke_path_empty
{
	visibility: hidden;
}

/*
.cke_browser_ie .cke_rtl .cke_path a,
.cke_browser_ie .cke_rtl .cke_path .cke_empty
{
	float: none;
}

.cke_path .cke_label
{
	display:none;
}

@media print
{
	.cke_path
	{
		display: none;
	}
}*/