/*
Copyright (c) 2003-2014, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license

Portions Copyright IBM Corp., 2010-2014.
*/

/*
menu.css (part of editor.css)
===============================

This file styles menus used in the editor UI. These menus are the list of
options available inside some "floating panels", like menu buttons of the
toolbar or the context menu.

Note that the menu itself doesn't include the floating element that holds it.
That element is styles in the panel.css file.
*/
/* .cke_menuitem is the element that holds the entire structure of each of the
   menu items. */
   
.cke_menubutton
{
	/* The "button" inside a menu item is a <a> element.
	   Transforms it into a block. */
	display:block;
}

.cke_menuitem span
{
	/* Avoid the text selection cursor inside menu items. */
	cursor: default;
}

.cke_menubutton:hover,
.cke_menubutton:focus,
.cke_menubutton:active
{
	background-color: #F1F1F1;
	display:block;
}
.cke_hc .cke_menubutton_on
{
	border: 2px solid;
}

.cke_hc .cke_menubutton:hover ,
.cke_hc .cke_menubutton:focus ,
.cke_hc .cke_menubutton:active{
	border: 2px solid;
	height: 22px;
}

.cke_hc .cke_menubutton:hover .cke_menubutton_label,
.cke_hc .cke_menubutton:focus .cke_menubutton_label,
.cke_hc .cke_menubutton:active .cke_menubutton_label {

	height:17px;
}

.cke_hc .cke_ltr .cke_menubutton .cke_menubutton_label {
	padding-left: 10px;
}

.cke_hc .cke_rtl .cke_menubutton .cke_menubutton_label {
	padding-right: 10px;
}

.cke_menubutton_inner {
	display: table-row;
}

.cke_menubutton_icon,
.cke_menubutton_label,
.cke_menuarrow {
	display: table-cell;
}


.cke_menubutton_disabled:hover,
.cke_menubutton_disabled:focus,
.cke_menubutton_disabled:active
{
	filter: alpha(opacity=30);
	opacity : 0.30;
	background-color: transparent !important;
}

/*The parent span of the menu item icon*/
.cke_menubutton_icon
{
	background-color: #FFFFFF;
	border: solid 4px #FFFFFF;
	width: 16px;
	height: 16px;
	filter: alpha(opacity=70); /* IE */
	opacity: 0.70; /* Safari, Opera and Mozilla */
	clear: both; /* Added */
}
.cke_hc .cke_menubutton_icon
{
	display: none;
}

.cke_menubutton:hover .cke_menubutton_icon,
.cke_menubutton:focus .cke_menubutton_icon,
.cke_menubutton:active .cke_menubutton_icon
{
	background-color: #F1F1F1;
	border: solid 4px #F1F1F1;
	filter: alpha(opacity=70); /* IE */ /* Modified (70) */
	opacity: 0.70; /* Safari, Opera and Mozilla */ /* Modified (0.70) */
}

.cke_menubutton_disabled:hover .cke_menubutton_icon,
.cke_menubutton_disabled:focus .cke_menubutton_icon,
.cke_menubutton_disabled:active .cke_menubutton_icon
{
	background-color: white;
	border: solid 4px white;
}

/*The icon for the menubutton*/
.cke_menubutton .cke_button_icon
{
	/*These styles are already applied through toolbar.css
	background-image: url(icons_ltr.png) !important;
	background-position: 100px;
	background-repeat:no-repeat;
	background-color: transparent;
	width: 16px;
	height: 16px;*/
	float: left;
}

.cke_menubutton_disabled .cke_button_icon
{
	filter: alpha(opacity=70); /* IE */
	opacity: 0.70; /* Safari, Opera and Mozilla */
	cursor: not-allowed;
}

/*The label for the menu item*/
.cke_menubutton_label
{
	padding-right: 3px;
	padding-top: 5px;
	padding-left: 4px;
	background-color: #fff;
	font-size: 11px;
	font-family: Arial,Helvetica,sans-serif;
	width: 100%;
	vertical-align: middle;
}

.cke_hc .cke_menubutton_label
{
	height : 19px;
}

.cke_rtl .cke_menubutton_label
{
	padding-right: 4px;
	padding-left: 3px;
}

.cke_menubutton_disabled .cke_menubutton_label
{
	filter: alpha(opacity=30); /* IE */
	opacity: 0.30; /* Safari, Opera and Mozilla */
}

.cke_menubutton_on .cke_menubutton_icon
{
	border: solid 4px #E0DEDE;
	filter: alpha(opacity=10); /* IE */
	opacity: 1.0; /* Safari, Opera and Mozilla */
}

.cke_menubutton_on .cke_menubutton_icon,
.cke_menubutton_on  .cke_menubutton_label
{
		background-color: #E0DEDE;
}

.cke_menubutton:hover .cke_menubutton_label,
.cke_menubutton:focus .cke_menubutton_label,
.cke_menubutton:active .cke_menubutton_label
{
	background-color: #F1F1F1;
}

.cke_menubutton_disabled:hover .cke_menubutton_label,
.cke_menubutton_disabled:focus .cke_menubutton_label,
.cke_menubutton_disabled:active .cke_menubutton_label
{
	background-color: transparent;
	color: #000000; /* Modified (black) */
}

/* The separator used to separate menu item groups. */
.cke_menuseparator
{
	background-color: #ccc; /* Modified (#e3e3c7) */
	height: 1px;
	filter: alpha(opacity=70); /* IE */
	opacity: 0.70; /* Safari, Opera and Mozilla */

	_font-size: 0;
}

/* The small arrow shown for item with sub-menus. */
.cke_menuarrow
{
	background-repeat: no-repeat;
	height: 5px;
	width: 3px;
	margin-right: 6px;
	margin-top: 1px;
	vertical-align: baseline;
}

.cke_rtl .cke_menuarrow
{
	margin-right: 0;
	margin-left: 2px;
}

.cke_rtl .cke_contextmenu_message
{
	font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
	text-align: right;
	white-space: normal;
	padding-top: 2px;
	vertical-align: middle;
}

.cke_contextmenu_message
{
	font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
	text-align: left;
	white-space: normal;
	padding-top: 2px;
	vertical-align: middle;
}

.cke_contextmenu_background_color
{
	background-color:#d8f0f8;
}

.cke_contextmenu_background_color:hover,
.cke_contextmenu_background_color:focus,
.cke_contextmenu_background_color:active
{
	background-color:#d8f0f8;
}

.cke_rtl .cke_button_info_icon
{
	background-image: url(images/sprite.png);
	background-position:-8px -346px;
	background-color:#d8f0f8;
	display: table-cell;
	border: solid 4px #d8f0f8;
	background-repeat:no-repeat;
	padding-top: 2px;
	padding-right: 3px;
	float:right;
}

.cke_button_info_icon
{
	background-image: url(images/sprite.png);
	background-position:-8px -346px;
	background-color:#d8f0f8;
	display: table-cell;
	border: solid 4px #d8f0f8;
	background-repeat:no-repeat;
	padding-top: 2px;
	padding-left: 3px;
}

.cke_language_menu_iframe
{
	max-height:250px !important;
	overflow-y:scroll;
}

.cke_language_menu_div
{
	max-height:250px !important;
	width: 150px;
}