/*
Copyright (c) 2003-2014, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license

Portions Copyright IBM Corp., 2010-2014.
*/

/* "Source" button label */
.cke_button__source_label
{
	display: inline;
}

.cke_combo__styles .cke_combo_text,
.cke_combo__format .cke_combo_text
{
	width: 60px;
}

.cke_combo__fontsize .cke_combo_text
{
	width: 30px;
}
/* "Styles" panel size */
.cke_combopanel__styles
{
	width: 200px;
	height: 150px;
}

/* "Format" panel size */
.cke_combopanel__format
{
	width: 230px;
	#width: 300px; /* IE7 */
	_width: 300px; /* IE6 */
	height: 150px;
}


/* "Font" panel size */
.cke_combopanel__font
{
	width: 190px;
	height: 150px;
}

/* "Font Size" panel size */
.cke_combopanel__fontsize
{
	width: 190px;
	height: 150px;
}

/* "Font Size" combo width */
.cke_combo__fontsize .cke_combo_text
{
	width: 50px;
}

/* Editable regions */
.cke_source
{
	font-family: 'Courier New' , Monospace;
	font-size: small;
	background-color: #fff;
	white-space: pre;
}

.cke_wysiwyg_frame, .cke_wysiwyg_div
{
	background-color: #fff;
}
