/*
Copyright (c) 2003-2014, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license

Portions Copyright IBM Corp., 2010-2014.
*/

/*
reset.css (part of editor.css)
================================

This file holds the "reset" requirements of CKEditor, as well as define the
default interface styles.
*/

/* Reset for single elements, not their children. */
.cke_reset
{
	border: 0;
	text-decoration: none;
	width: auto;
	height: auto;
	vertical-align: baseline;
}

/* Reset for elements and their children. */
.cke_reset_all,
.cke_reset_all *
{
	/* The following must be identical to .cke_reset. */
	border: 0;
	text-decoration: none;
	width: auto;
	height: auto;
	vertical-align: baseline;
	
	/* These are rules inherited by all children elements. */	
	font: normal normal normal 12px Arial,Helvetica,sans-serif;
	line-height: 1.2em;
	border-collapse: separate;
	text-align: left;
	white-space: nowrap;
	cursor: auto;
	color: #000;
	float: none;
}

.cke_reset_all .cke_rtl *
{
	text-align: right;
}

/* Defaults for some elements. */

.cke_reset_all iframe
{
	vertical-align: inherit;	/** For IE */
}

.cke_reset_all textarea
{
	white-space: pre;
}

.cke_reset_all textarea,
.cke_reset_all input[type="text"],
.cke_reset_all input[type="password"]
{
	cursor: text;
}

.cke_reset_all textarea[disabled],
.cke_reset_all input[type="text"][disabled],
.cke_reset_all input[type="password"][disabled]
{
	cursor: default;
}
