/*
Copyright (c) 2003-2014, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license

Portions Copyright IBM Corp., 2010-2014.
*/

/*
richcombo.css (part of editor.css)
=================================

This file holds the style set of the "Rich Combo" widget which is commonly used
in the toolbar. It doesn't, however, styles the panel that is displayed when
clicking on the combo, which is instead styled by panel.css.
*/

/* The box that hold the entire combo widget */
.cke_combo
{
	display: inline-block;
	vertical-align: baseline;
	float: left;
}

.cke_rtl .cke_combo
{
	float: right;
}

/* The label of the combo widget. It is invisible by default, yet
   it's important for semantics and accessibility. */
.cke_combo_label
{
	display: none;
	float: left;

	line-height: 24px;
	height: 24px;

	vertical-align: top;
	padding-left: 4px;
	padding-right: 5px;
	_background-color: #fff;	/* Because of IE6+ClearType */ /* Modified (#f1f1e3) */
}

.cke_rtl .cke_combo_label
{
	float: right;
	padding-right: 4px;
	padding-left: 5px;
}

.cke_hc .cke_combo_label
{
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

/* The container for combo text and arrow. */
.cke_combo_button
{
	display: inline-block;
	margin: 3px 2px;
	text-decoration: none;
}

/* Different states of the container. */
a.cke_combo_button:hover .cke_combo_text,
a.cke_combo_button:active .cke_combo_text,
a.cke_combo_button:focus .cke_combo_text
{
	border-color: #999999;
	font-style: italic;
	font-weight: bold;
}

a.cke_combo_button:hover .cke_combo_open,
a.cke_combo_button:active .cke_combo_open,
a.cke_combo_button:focus .cke_combo_open
{
	border-color: #999999;
}

.cke_rtl .cke_combo_button
{
	float: right;
}

/* A basic support for the high-contrast mode to enhance the readability. */
.cke_hc .cke_combo
{
	white-space: normal;
}

.cke_hc .cke_combo_button
{
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

.cke_hc a.cke_combo_button:hover,
.cke_hc a.cke_combo_button:focus {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

/* The label that shows the current value of the rich combo.
   By default, it holds the name of the property.
   See: .cke_combo_inlinelabel */
.cke_combo_text
{
	border-top: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
	background-color: #fff;
	height: 13px;
	width:75px;
	padding: 4px 5px;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
	vertical-align: top;

}

.cke_ltr .cke_combo_text
{
	border-left: 1px solid #C0C0C0;
}

.cke_rtl .cke_combo_text
{
	border-right: 1px solid #C0C0C0;
	float: right;
	text-align: right;
}

/* High Contrast Mode for Dropdown Text */
.cke_hc .cke_combo_text
{
	width:60px;
	padding: 4px;
}

.cke_hc a.cke_combo_button:hover .cke_combo_text,
.cke_hc a.cke_combo_button:focus .cke_combo_text
{
	border-top-width: 3px;
	border-bottom-width: 3px;
	padding-top: 0px 3px;
}

.cke_hc.cke_ltr a.cke_combo_button:hover .cke_combo_text,
.cke_hc.cke_ltr a.cke_combo_button:focus .cke_combo_text
{
	border-left-width: 3px;
}

.cke_hc.cke_rtl a.cke_combo_button:hover .cke_combo_text,
.cke_hc.cke_rtl a.cke_combo_button:focus .cke_combo_text
{
	border-right-width: 3px;
}

/* The handler which opens the panel of rich combo properties.
   It holds an arrow as a visual indicator. */
.cke_combo_open
{
	display: inline-block;
	background-color: #ffffff;
	border-top: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
	width: 14px;
	height: 21px; /* Modified (22px) */
}

/* The arrow which is displayed inside of the .cke_combo_open handler. */
.cke_combo_arrow
{
	background-image: url(images/sprite.png);
	background-position:50% -61px;
	background-repeat: no-repeat;
	background-color: #ffffff;
	display: inline-block;
	height: 16px;
	width: 14px;
	margin: 2px 0px 3px;
}

.cke_rtl .cke_combo_arrow
{
	background-image: url(images/sprite.png);
	background-position:50% -60px;
}

.cke_ltr .cke_combo_open
{
    border-right: 1px solid #C0C0C0;
}

/*The open arrow for the combo*/
.cke_rtl .cke_combo_open
{
    border-left: 1px solid #C0C0C0;
}

/* High Contrast Mode for Dropdown Buttons */
.cke_hc a.cke_combo_button:hover .cke_combo_open,
.cke_hc a.cke_combo_button:focus .cke_combo_open
{
	border-top-width: 3px;
	border-bottom-width: 3px;
}

.cke_hc.cke_ltr a.cke_combo_button:hover .cke_combo_open,
.cke_hc.cke_ltr a.cke_combo_button:focus .cke_combo_open
{
    border-right-width: 3px;
}

.cke_hc.cke_rtl a.cke_combo_button:hover .cke_combo_open,
.cke_hc.cke_rtl a.cke_combo_button:focus .cke_combo_open
{
    border-left-width: 3px;
}

/*Disabled styles*/
.cke_combo.cke_combo_disabled .cke_combo_label
{
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: .3;
}

.cke_hc .cke_combo.cke_combo_disabled .cke_combo_label
{
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	opacity: .7;
}

.cke_combo.cke_combo_disabled .cke_combo_text,
.cke_combo.cke_combo_disabled .cke_combo_open
{
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: .5;
}

.cke_hc .cke_combo.cke_combo_disabled .cke_combo_text,
.cke_hc .cke_combo.cke_combo_disabled .cke_combo_open
{
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity: .8;
}

.cke_combo.cke_combo_disabled .cke_combo_text
{
	color: #fff;
}
