<%--
//********************************************************************
//*-------------------------------------------------------------------
//* Licensed Materials - Property of IBM
//*
//* WebSphere Commerce
//*
//* (c) Copyright IBM Corp. 2000, 2002
//*
//* US Government Users Restricted Rights - Use, duplication or
//* disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
//*
//*-------------------------------------------------------------------
//*
--%>

function displayCaseSelection() {
	
    println("<option value='1' selected><%=UIUtil.toHTML((String)userNLS.get("searchType1"))%></option>");
    println("<option value='2' ><%=UIUtil.toHTML((String)userNLS.get("searchType2"))%></option>");
    println("<option value='3' ><%=UIUtil.toHTML((String)userNLS.get("searchType3"))%></option>");
    println("<option value='4' ><%=UIUtil.toHTML((String)userNLS.get("searchType4"))%></option>");
    println("<option value='5' ><%=UIUtil.toHTML((String)userNLS.get("searchType5"))%></option>");
	
}

