.svg-anchor {
	background: url(sprite.svg) 11.11111111111111% 0 no-repeat;
}

.svg-anchor-rtl {
	background: url(sprite.svg) 33.333333333333336% 75% no-repeat;
}

.svg-bgcolor {
	background: url(sprite.svg) 0 12.5% no-repeat;
}

.svg-bidiltr {
	background: url(sprite.svg) 11.11111111111111% 12.5% no-repeat;
}

.svg-bidiltr-rtl {
	background: url(sprite.svg) 22.22222222222222% 0 no-repeat;
}

.svg-bidirtl {
	background: url(sprite.svg) 22.22222222222222% 12.5% no-repeat;
}

.svg-bidirtl-rtl {
	background: url(sprite.svg) 0 25% no-repeat;
}

.svg-blockquote {
	background: url(sprite.svg) 11.11111111111111% 25% no-repeat;
}

.svg-bold {
	background: url(sprite.svg) 22.22222222222222% 25% no-repeat;
}

.svg-bookmark {
	background: url(sprite.svg) 33.333333333333336% 0 no-repeat;
}

.svg-btn_locked {
	background: url(sprite.svg) 33.333333333333336% 12.5% no-repeat;
}

.svg-btn_reset {
	background: url(sprite.svg) 33.333333333333336% 25% no-repeat;
}

.svg-btn_unlocked {
	background: url(sprite.svg) 0 37.5% no-repeat;
}

.svg-bulletedlist {
	background: url(sprite.svg) 11.11111111111111% 37.5% no-repeat;
}

.svg-bulletedlist-rtl {
	background: url(sprite.svg) 22.22222222222222% 37.5% no-repeat;
}

.svg-button_arrow {
	background: url(sprite.svg) 33.333333333333336% 37.5% no-repeat;
}

.svg-button_arrow_rtl {
	background: url(sprite.svg) 44.44444444444444% 0 no-repeat;
}

.svg-button_info_icon {
	background: url(sprite.svg) 44.44444444444444% 12.5% no-repeat;
}

.svg-combo_arrow {
	background: url(sprite.svg) 44.44444444444444% 25% no-repeat;
}

.svg-combo_arrow_rtl {
	background: url(sprite.svg) 44.44444444444444% 37.5% no-repeat;
}

.svg-copy {
	background: url(sprite.svg) 0 50% no-repeat;
}

.svg-copy-rtl {
	background: url(sprite.svg) 11.11111111111111% 50% no-repeat;
}

.svg-cut {
	background: url(sprite.svg) 22.22222222222222% 50% no-repeat;
}

.svg-cut-rtl {
	background: url(sprite.svg) 33.333333333333336% 50% no-repeat;
}

.svg-dialog_close_button {
	background: url(sprite.svg) 44.44444444444444% 50% no-repeat;
}

.svg-embed {
	background: url(sprite.svg) 55.55555555555556% 0 no-repeat;
}

.svg-find {
	background: url(sprite.svg) 55.55555555555556% 12.5% no-repeat;
}

.svg-find-rtl {
	background: url(sprite.svg) 55.55555555555556% 25% no-repeat;
}

.svg-flash {
	background: url(sprite.svg) 55.55555555555556% 37.5% no-repeat;
}

.svg-horizontalrule {
	background: url(sprite.svg) 55.55555555555556% 50% no-repeat;
}

.svg-ibmpermanentpen {
	background: url(sprite.svg) 0 62.5% no-repeat;
}

.svg-ibmspellchecker {
	background: url(sprite.svg) 11.11111111111111% 62.5% no-repeat;
}

.svg-ibmtabkey {
	background: url(sprite.svg) 22.22222222222222% 62.5% no-repeat;
}

.svg-iframe {
	background: url(sprite.svg) 33.333333333333336% 62.5% no-repeat;
}

.svg-image {
	background: url(sprite.svg) 44.44444444444444% 62.5% no-repeat;
}

.svg-indent {
	background: url(sprite.svg) 55.55555555555556% 62.5% no-repeat;
}

.svg-indent-rtl {
	background: url(sprite.svg) 66.66666666666667% 0 no-repeat;
}

.svg-info {
	background: url(sprite.svg) 66.66666666666667% 12.5% no-repeat;
}

.svg-italic {
	background: url(sprite.svg) 66.66666666666667% 25% no-repeat;
}

.svg-justifyblock {
	background: url(sprite.svg) 66.66666666666667% 37.5% no-repeat;
}

.svg-justifycenter {
	background: url(sprite.svg) 66.66666666666667% 50% no-repeat;
}

.svg-justifyleft {
	background: url(sprite.svg) 66.66666666666667% 62.5% no-repeat;
}

.svg-justifyright {
	background: url(sprite.svg) 0 75% no-repeat;
}

.svg-language {
	background: url(sprite.svg) 11.11111111111111% 75% no-repeat;
}

.svg-link {
	background: url(sprite.svg) 22.22222222222222% 75% no-repeat;
}

.svg-maximize {
	background: url(sprite.svg) 0 0 no-repeat;
}

.svg-newpage {
	background: url(sprite.svg) 44.44444444444444% 75% no-repeat;
}

.svg-newpage-rtl {
	background: url(sprite.svg) 55.55555555555556% 75% no-repeat;
}

.svg-numberedlist {
	background: url(sprite.svg) 66.66666666666667% 75% no-repeat;
}

.svg-numberedlist-rtl {
	background: url(sprite.svg) 77.77777777777777% 0 no-repeat;
}

.svg-outdent {
	background: url(sprite.svg) 77.77777777777777% 12.5% no-repeat;
}

.svg-outdent-rtl {
	background: url(sprite.svg) 77.77777777777777% 25% no-repeat;
}

.svg-pagebreak {
	background: url(sprite.svg) 77.77777777777777% 37.5% no-repeat;
}

.svg-pagebreak-rtl {
	background: url(sprite.svg) 77.77777777777777% 50% no-repeat;
}

.svg-paste {
	background: url(sprite.svg) 77.77777777777777% 62.5% no-repeat;
}

.svg-paste-rtl {
	background: url(sprite.svg) 77.77777777777777% 75% no-repeat;
}

.svg-pastefromword {
	background: url(sprite.svg) 0 87.5% no-repeat;
}

.svg-pastefromword-rtl {
	background: url(sprite.svg) 11.11111111111111% 87.5% no-repeat;
}

.svg-pastetext {
	background: url(sprite.svg) 22.22222222222222% 87.5% no-repeat;
}

.svg-pastetext-rtl {
	background: url(sprite.svg) 33.333333333333336% 87.5% no-repeat;
}

.svg-preview {
	background: url(sprite.svg) 44.44444444444444% 87.5% no-repeat;
}

.svg-preview-rtl {
	background: url(sprite.svg) 55.55555555555556% 87.5% no-repeat;
}

.svg-print {
	background: url(sprite.svg) 66.66666666666667% 87.5% no-repeat;
}

.svg-redo {
	background: url(sprite.svg) 77.77777777777777% 87.5% no-repeat;
}

.svg-redo-rtl {
	background: url(sprite.svg) 88.88888888888889% 0 no-repeat;
}

.svg-removeformat {
	background: url(sprite.svg) 88.88888888888889% 12.5% no-repeat;
}

.svg-replace {
	background: url(sprite.svg) 88.88888888888889% 25% no-repeat;
}

.svg-save {
	background: url(sprite.svg) 88.88888888888889% 37.5% no-repeat;
}

.svg-scayt {
	background: url(sprite.svg) 88.88888888888889% 50% no-repeat;
}

.svg-selectall {
	background: url(sprite.svg) 88.88888888888889% 62.5% no-repeat;
}

.svg-showblocks {
	background: url(sprite.svg) 88.88888888888889% 75% no-repeat;
}

.svg-showblocks-rtl {
	background: url(sprite.svg) 88.88888888888889% 87.5% no-repeat;
}

.svg-smiley {
	background: url(sprite.svg) 0 100% no-repeat;
}

.svg-source {
	background: url(sprite.svg) 11.11111111111111% 100% no-repeat;
}

.svg-source-rtl {
	background: url(sprite.svg) 22.22222222222222% 100% no-repeat;
}

.svg-specialchar {
	background: url(sprite.svg) 33.333333333333336% 100% no-repeat;
}

.svg-spellchecker {
	background: url(sprite.svg) 44.44444444444444% 100% no-repeat;
}

.svg-strike {
	background: url(sprite.svg) 55.55555555555556% 100% no-repeat;
}

.svg-subscript {
	background: url(sprite.svg) 66.66666666666667% 100% no-repeat;
}

.svg-subscript-rtl {
	background: url(sprite.svg) 77.77777777777777% 100% no-repeat;
}

.svg-superscript {
	background: url(sprite.svg) 88.88888888888889% 100% no-repeat;
}

.svg-superscript-rtl {
	background: url(sprite.svg) 100% 0 no-repeat;
}

.svg-table {
	background: url(sprite.svg) 100% 12.5% no-repeat;
}

.svg-templates {
	background: url(sprite.svg) 100% 25% no-repeat;
}

.svg-templates-rtl {
	background: url(sprite.svg) 100% 37.5% no-repeat;
}

.svg-textcolor {
	background: url(sprite.svg) 100% 50% no-repeat;
}

.svg-underline {
	background: url(sprite.svg) 100% 62.5% no-repeat;
}

.svg-undo {
	background: url(sprite.svg) 100% 75% no-repeat;
}

.svg-undo-rtl {
	background: url(sprite.svg) 100% 87.5% no-repeat;
}

.svg-unlink {
	background: url(sprite.svg) 100% 100% no-repeat;
}

