<%--
/*
 *-------------------------------------------------------------------
 * Licensed Materials - Property of IBM
 *
 * WebSphere Commerce
 *
 * (c) Copyright International Business Machines Corporation. 2003
 *     All rights reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 *-------------------------------------------------------------------
*/
////////////////////////////////////////////////////////////////////////////////
//
// Change History
//
// YYMMDD    F/D#   WHO       Description
//------------------------------------------------------------------------------
// 020904	    KNG		Initial Create
////////////////////////////////////////////////////////////////////////////////
--%>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">


<HTML>
<HEAD>
<SCRIPT>
   var css = top.getCSSFile();
   document.writeln("<link rel=stylesheet href='" + css + "' type='text/css'>");
</SCRIPT>

<script>
	function getHelp() {
		return "MC.catalogimport.viewlog.Help";

	}
</script>
<title>View Log</title>
</head>

<body class="content">

<iframe name="Catalog Import Log" title="Catalog Import Log" src="/webapp/wcs/tools/servlet/CatalogImportLogView" width="100%" height="100%">
</iframe>

</body>
</html>



