/**
 *-------------------------------------------------------------------
 * Licensed Materials - Property of IBM
 *
 * WebSphere Commerce
 *
 * (c) Copyright IBM Corp. 2006
 *
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 *
 *-------------------------------------------------------------------
 */

/* general */
/*auctionheader.jsp*/
BODY {
	/* 0725 trying to match fashionfair.css - eyl
	font-family : Verdana, Arial, Helvetica;
	font-size : 10pt;
	margin : 0 0 0 0;
	padding : 0 0 0 0;
	background-color : White;
	*/
	margin-top: 0px;
	margin-left: 0px;
	padding-top:0px;
		}

H1 { font-family : Times New Roman, Times, serif; font-size : 16pt; color : #4B4B4B; font-weight : normal;}       

/*auctionheader.jsp*/
TD.banner
{/* changed to match fashionfair.css */
/* background-color: #A9A9A9; */
   background-color:#336666;
	color : White;
}
TD.bannerlight{
	background : #CCCC99;
	}

TD.buttons{
	background-color: #CCCC99;
	background : #CCCC99;
	}
	
TD{
	font-family : Verdana, Arial, Helvetica;
	/*font-size : 10pt;*/
	font-size: 8pt;
	color : Black;
}

DIV {
	font-family : Verdana, Arial, Helvetica;
	font-size : 10pt;
	color : Black;
}

/* fashionfair.css doesn't have this */
/*A {
	font-family : Verdana, Arial, Helvetica;
	font-size : 10pt;
}
*/

B {
	font-family : Verdana, Arial, Helvetica;
	font-size : 10pt;
	color : Black;
	font-weight : bold;
}

I {
	font-family : Verdana, Arial, Helvetica;
	font-size : 10pt;
	color : Black;
	font-style : italic;
}

P {
	font-family : Verdana, Arial, Helvetica;
	font-size : 10pt;
	color : Black;
}

LI {
	font-family : Verdana, Arial, Helvetica;
	font-size : 10pt;
	color : Black;
}

/* 1003 eyl - changed to match fashionfair.css for published WebAuction*/
SELECT {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 8pt;
	color : Black;
	font-weight: normal;
	font-style: normal;
	background : White;
	text-align: top;

}

/* general content area */
/* body */
BODY.content {
	margin-left : 10pt;
	margin-top : 10pt;
	font-family : Verdana;
	font-size : 10pt;
	color : Black;
	background : White;
}]

/* body */
/* list area */
TABLE.list {
/* 	background-color : #ADADAD; */
background-color: #316563;
	BORDER:0;
}

TABLE.list_role_off {
	border : 0pt;
	width : 100%;
}

TABLE.list_role_on {
	border : 0pt;
	width : 100%;
	height : 100%;
	background-color : #638C7A;
	line-height : 100%;
}

TR.list_roles {
	background-color : #316563;
	color : White;
	background : #999900;
}

TD.list_header {
	font-family : Verdana, Arial, Helvetica;
	font-size : 10pt;
	font-weight : normal;
	background : #CCCC99;
	color : White;
}

TR.list_row1 {
	background-color : #FFFFFF;
	height : 20px;
}

TR.list_row2 {
	background-color : #F4F6F6;
	height : 20px;
}

TD.list_info1 {
	font-family : Verdana, Arial, Helvetica;
	font-size : 8pt;
	color : #373741;
}

A.list_info1 {
	font-family : Verdana, Arial, Helvetica;
	font-size : 8pt;
	color : #1B436F;
}

TD.list_sort {
	width : 13px;
}

TD.list_check {
	background-color : #C4C6CB;
	text-align : center;
	width : 16px;
}

TD.list_check_all {
	width : 16px;
}

/* list area */
/* address area */
P.address {
	font-family : Verdana, Arial, Helvetica;
	font-size : 10pt;
	color : #154242;
}

/* address area */
/* button text */
font.strongtext
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	color: black;
	padding: 0px;
	margin: 0px;
	text-decoration: none;
}

Body.leftnavon  {
	padding-left: 3px;
	margin-left: 3px;
	background-color: #CCCC99;
	background : #CCCC99;
}
Body.mailnavon {
	padding-left: 3px;
	margin-left: 3px;
	background-color: #999900;
	background : #999900;
}

/* need to have to get blue behind timebox */
Body.leftnavon2 {
	padding-left: 3px;
	margin-left: 3px;
	background-color: #336666;
	background : #336666;
}

/* to match menu.html from Toronto */
/* see auc_navigation.jsp */
Body.leftnavonmenu  {
	margin : 0 0;
	margin-left : 0;
	margin-top : 0;
	background-color: #316563;
	background:#316563;
}

/* not used right now */
TD.leftmenu
{
	text-align: left;
	width: 175px;
	background-color: #316563;
	padding-right: 0px;
	margin-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

font.leftmenu{
	font-family: Verdana, Arial, Helvetica, sans serif;
	font-size: 10pt;
	font-weight: bold;
	color: white;
	padding: 0px;
	margin: 0px;
	text-decoration:none;
}

	
/*all the following added by eyl to match fashionfair.css*/
/*auctionheader.jsp*/
font.storename {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14pt;
	font-weight: bold;
	text-align: left;
	color: #FFFFFF;
}

/* to match fashionfair */
/* see auctionbuttonbar.jsp*/
td.buttonbar {
	text-align: right;
/*	width: 620px;*/
	font-size: 8pt;
	background-color: #336666;
	padding-right: 0px;
	margin-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

/* matches fashionfair, for bar below auctionbuttonbar.jsp */
td.navigation{
	text-align: right;
	background-color: #CCCC99;
	padding-right: 0px;
	margin-right: 0px;
}

/* see auctionbuttonbar.jsp*/
font.buttons {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	/*color: #CCCC99;*/
	padding: 0px;
	margin: 0px;
}

font.sidebarhot {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	color: #336666;
	line-height: 12pt;
	padding: 0px;
	margin: 0px;
	text-decoration: underline;
}


font.navoff {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	color: #336666;
	padding: 0px;
	margin: 0px;
}

/*orange is manually put in in auc_home.jsp*/
a:hover { 
	text-decoration: none; 
	color: #CC6600; 
}

/* see auc_home.jsp - dark blue green*/
a:link {
	text-decoration: underline;
	color: #336666;
	font-weight: bold;
}

/*see auc_navigation.jsp, auctionbuttonbar.jsp, and auc_home.jsp for visited links' color- light aqua blue*/
a:visited {
	text-decoration: underline;
	color: #669999;
}

a:active {
	text-decoration: underline
}

/* trying to match bodySettings and leftBodySettings */
/*ever use this?*/
font.title {
	color: #999900;
	font-size : large;
	font-weight : bold;
	font-style: italic;
}

font.titlegallery {
	color: #999900;
	font-size : medium;
	font-weight : bold;
}

/*following added 090301 to match WebFashion sidebar.jsp - eyl*/

font.subheader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	color: White;
	padding: 0px;
	margin: 0px;
	text-decoration: none;
}


td.wordspace {
	padding-left: 3px;
	margin-left: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

td.indent {
	padding-left: 3px;
	margin-left: 3px;
	padding-bottom: 6px;
}


font.category
{font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14pt; font-weight: bold; text-align: left; color: black;}

font.product
{font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; text-align: left; color: #336666; padding: 0px; margin: 0px;}

