/*
 *-----------------------------------------------------------------
 * Licensed Materials - Property of IBM
 *
 * WebSphere Commerce
 *
 * (C) Copyright IBM Corp. 2011 All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with
 * IBM Corp.
 *-----------------------------------------------------------------
 */


/* -----------------------------------------------------------------------------*/
/* 1. COMMON GENERAL CLASSES
/* -----------------------------------------------------------------------------*/
html, body {
	background-color: #b6c7f6;
	height: 99%;
	font: 11px Verdana, Sans-Serif;
	margin:0px;
}

body {
	margin: 5px 5px 5px 5px;
}

form {
	display:inline;
}

.clear_float {
	clear:both;
}


#main {
	width:100%;
	min-height:100%;
	height:auto !important;
	position:relative;
	border: 1px solid #5272cc;
	margin-bottom:2px;
	background: #ffffff url('../../images/configurator/gradient.png') repeat-x top left;
}
	#main h2 {
		height: 20px;
		text-align: right;
		line-height: 20px;
		font: 11px Verdana, Sans-Serif;
		margin-left: 10px;
		padding-top:5px;
		padding-right:7px;
		padding-bottom:0px;
		margin-bottom:0px;
	}	
	
	#main  .config_option_title_element {
		width: 100%;
		margin:0px;
		background-color: #dfe8fb;
		font: bold 11px Verdana, Sans-Serif;
		color: #000000;
		height: 20px;
		line-height: 20px;
	}
	#main  .config_option_title_element .smallBody {
		padding-left:8px;
	}
	
/* -----------------------------------------------------------------------------*/
/* 2. PAGE HEADER CLASSES 
/* -----------------------------------------------------------------------------*/
#main .configHeaderTable {
	width:100%;
	height:70px;
}
	#main .configHeaderTable .modelImage {
		display:none;
		visibility:hidden;
	}
	
	#main .configHeaderTable .modelImageTd {
		width: 63px;
		height: 60px;
		padding-bottom:20px;
		background-image: url('../../images/configurator/model.png');
		background-repeat:no-repeat;
	}

	#main .configHeaderTable .headerText {
		font: 16px Verdana, Sans-Serif;
		margin-top:10px;
	}
	
	#main .configHeaderTable .smallBody {
		text-align:right;
		vertical-align:bottom;
		font:11px Verdana,Sans-Serif
	}
	
#main .configButtonBarTable {
	width:auto;
	margin-right:1px;
}
	#main .configButtonBarTable #MessageDisplayDiv {
		width: 100%;
		min-height: 100px;
		border: 1px solid #bfc9d9;
		font:11px Verdana,Sans-Serif
	}
	#main .configButtonBarTable #configbuttons {
		padding-top:4px;
		margin:0px;
	}

	#main .configButtonBarTable .configButtonBar .smallBody {
		padding:0px;
		margin:0px;
	}


/* -----------------------------------------------------------------------------*/
/* 3. OPTION GROUP CLASSES 
/* -----------------------------------------------------------------------------*/
#main .button_container td {
	margin-bottom:4px;
}
	
	#main .button_container {
		float:left;
		margin-top: 2px;
		font: 11px Verdana, Sans-Serif;
	}

#main  .optionItemHeaderImageDiv {
	width: 180px;
	float:left;
	padding: 0;
	margin-top: 2px;
}
	#main  .optionItemHeaderImageDiv table {
		float:right;
		width:100%;
	}
	
	#main  .optionItemHeaderImageDiv .smallBody {
		float: left;
		width:100%;
		text-align: right;
		font: 11px Verdana, Sans-Serif;
	}	

#main #updateTable, #main .optionItemChoices {
	float:left;
	padding-top:3px;
	margin:0px;
}	

#main .controlsDisplay table.configsubcell_required, #main table.configsubcell_normal {
	border-bottom:1px solid #B6C7F6;
	padding-bottom:3px;
}

#main .config_option_element {
	margin-top: -1px;
}

#main .optionIconHeaderImageDiv {
	display:none;
}

#main #radioLayout {
	width:100%
}

#main #checkboxLayout {
	width:100%
}
#main .optionHeaderErrorSignTable {
	text-align:right;
}

/* -----------------------------------------------------------------------------*/
/* 4. BUTTON STYLE CLASSES 
/* -----------------------------------------------------------------------------*/
#main .button {
	min-width: 78px;
	height: 30px;
	cursor: pointer;
	margin: 0 2px;
	float:left;
}

	#main .error_buttons {
		float:right;
	}
	
	#main .button .left {
		width: 6px;
		height: 30px;
		float: left;
		background-image: url('../../images/shell/b_active_left.png');
	}
	
	#main .button .content {
		min-width: 62px;
		height: 30px;
		float: left;
		background: url('../../images/shell/b_active_center.png') repeat-x;
		font: 11px Verdana, Sans-Serif;
		color: #375c7a;
		line-height: 26px;
		text-align: center;
		padding: 0 2px;
	}	
	
	#main .button .right {
		width: 6px;
		height: 30px;
		float: left;
		background-image: url('../../images/shell/b_active_right.png');
	}
	
	#main .button:hover .left {
		background-image: url('../../images/shell/b_hover_left.png');
	}
	
	#main .button:hover .content {
		background: url('../../images/shell/b_hover_center.png') repeat-x;
	}	
	
	#main .button:hover .right {
		background-image: url('../../images/shell/b_hover_right.png');
	}	
	
	#main .button:active .left {
		background-image: url('../../images/shell/b_pressed_left.png');
	}
	
	#main .button:active .content {
		background: url('../../images/shell/b_pressed_center.png') repeat-x;
	}	
	
	#main .button:active .right {
		background-image: url('../../images/shell/b_pressed_right.png');
	}
