<%
//********************************************************************
//*-------------------------------------------------------------------
//* Licensed Materials - Property of IBM
//*
//* WebSphere Commerce
//*
//* (c) Copyright IBM Corp. 2007
//*
//* US Government Users Restricted Rights - Use, duplication or
//* disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
//*
//*-------------------------------------------------------------------
//*
%>
<object objectType="CatalogEntryListPrice">
	<listpriceId><wcf:cdata data="${catalogEntry.catalogEntryIdentifier.uniqueID}_${catalogEntry.listPrice.price.currency}"/></listpriceId>
	<catentryId><wcf:cdata data="${catalogEntry.catalogEntryIdentifier.uniqueID}"/></catentryId>
	<defaultCurrencyCode><wcf:cdata data="${catalogEntry.listPrice.price.currency}"/></defaultCurrencyCode>
	<c:if test="${!(empty catalogEntry.listPrice.price.currency)}">
		<${catalogEntry.listPrice.price.currency}>${catalogEntry.listPrice.price.value}</${catalogEntry.listPrice.price.currency}>
	</c:if>
	<c:if test="${!(empty catalogEntry.listPrice.alternativeCurrencyPrice)}">
		<c:forEach var="alternativeCurrencyPrice" items="${catalogEntry.listPrice.alternativeCurrencyPrice}">
			<${alternativeCurrencyPrice.currency}>${alternativeCurrencyPrice.value}</${alternativeCurrencyPrice.currency}>
		</c:forEach>
	</c:if>
</object>
