<%--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2010 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
--%>

<objects 
	recordSetCompleteIndicator="${showVerb.recordSetCompleteIndicator}"
	recordSetReferenceId="${showVerb.recordSetReferenceId}"
	recordSetStartNumber="${showVerb.recordSetStartNumber}"
	recordSetCount="${showVerb.recordSetCount}"
	recordSetTotal="${showVerb.recordSetTotal}">
	
	
	<c:forEach var="replacementInst" items="${replacements}">
		<c:set var="objectType" value="Replacement" /> 
		<c:set var="owningStoreId" value="${replacementInst.storeIdentifier.uniqueID}" />
		<c:if test="${(param.storeId) != owningStoreId}">
			<c:set var="objectType" value="InheritedReplacement" /> 
		</c:if>
		<object objectType="${objectType}">
			<uniqueId><wcf:cdata data="${replacementInst.uniqueID}"/></uniqueId>
			<searchTerm><wcf:cdata data="${replacementInst.searchTerms}"/></searchTerm>
			<replacementTerms><wcf:cdata data="${replacementInst.associatedTerms}"/></replacementTerms>
			<associationType readonly="true"><wcf:cdata data="${replacementInst.associationType}"/></associationType>
			<objectStoreId>${owningStoreId}</objectStoreId>
		</object>
	</c:forEach>
	
</objects>