<%--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2007, 2014 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
--%>
<%--  @pre List of CatalogEntry SDOs populated, variable name 'catentries' --%>
<c:choose>
	<c:when test="${recordSetCompleteIndicator!=null}">
		<objects
			recordSetCompleteIndicator="${recordSetCompleteIndicator}"
			recordSetReferenceId="${recordSetReferenceId}"
			recordSetStartNumber="${recordSetStartNumber}"
			recordSetCount="${recordSetCount}"
			recordSetTotal="${recordSetTotal}">
	</c:when>
	<c:otherwise>
		<objects
			recordSetCompleteIndicator="${showVerb.recordSetCompleteIndicator}"
			recordSetReferenceId="${showVerb.recordSetReferenceId}"
			recordSetStartNumber="${showVerb.recordSetStartNumber}"
			recordSetCount="${showVerb.recordSetCount}"
			recordSetTotal="${showVerb.recordSetTotal}">
	</c:otherwise>
</c:choose>
	<c:forEach var="catalogEntry" items="${catentries}">
		<c:set var="childTypeLocked" value=''/>
		<c:set var="inherited" value=""/>
		<c:if test="${catalogEntry.catalogEntryTypeCode == 'ProductBean' ||catalogEntry.catalogEntryTypeCode == 'VariantBean' || catalogEntry.catalogEntryTypeCode == 'ItemBean' || catalogEntry.catalogEntryTypeCode == 'BundleBean' || catalogEntry.catalogEntryTypeCode == 'DynamicKitBean' || catalogEntry.catalogEntryTypeCode == 'PackageBean' || catalogEntry.catalogEntryTypeCode == 'PredDynaKitBean'}">
			<c:if test="${catalogEntry.catalogEntryIdentifier.externalIdentifier.storeIdentifier.uniqueID != param.storeId }">
				<c:set var="inherited" value="Inherited"/>
				<c:set var="childTypeLocked" value='readonly="true"'/>
			</c:if>
			<c:choose>
				<c:when	test="${catalogEntry.catalogEntryTypeCode == 'ProductBean'}">
					<c:set var="type" value="Product"/>
				</c:when>
				<c:when	test="${catalogEntry.catalogEntryTypeCode == 'VariantBean'}">
					<c:set var="type" value="Variant"/>
				</c:when>
				<c:when test="${catalogEntry.catalogEntryTypeCode == 'BundleBean'}">
					<c:set var="type" value="Bundle"/>
				</c:when>
				<c:when	test="${catalogEntry.catalogEntryTypeCode == 'PackageBean' || catalogEntry.catalogEntryTypeCode == 'DynamicKitBean'}">
					<c:set var="type" value="Kit"/>
				</c:when>
				<c:when	test="${catalogEntry.catalogEntryTypeCode == 'PredDynaKitBean'}">
					<c:set var="type" value="PredefinedDKit"/>
				</c:when>
				<c:when	test="${catalogEntry.catalogEntryTypeCode == 'ItemBean'}">
					<c:choose>
						<c:when test="${(empty catalogEntry.parentCatalogEntryIdentifier) && (!empty catalogEntry.parentCatalogGroupIdentifier)}">
							<c:set var="type" value="CatalogGroupSKU"/>
						</c:when>
						<c:otherwise>
							<c:set var="type" value="ProductSKU"/>
						</c:otherwise>
					</c:choose>
				</c:when>
			</c:choose>
			<c:set var="objectType" value="${inherited}${type}"/>
			<c:set var="childType" value="Child${objectType}"/>
			<%-- Need special handling for Product SKU --%>
			<c:if test="${type == 'ProductSKU' }" >
				<c:set var="childType" value="ProductChild${inherited}SKU"/>
			</c:if>
			<c:if test="${type == 'PredefinedDKit' }" >
				<c:set var="childType" value="DynamicKitChild${inherited}PDK"/>
			</c:if>
			
			<jsp:directive.include file="SerializeCatalogEntry.jspf"/>
		</c:if>
	</c:forEach>
</objects>