<%--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2008, 2010 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
--%>

<%
				// Clear Hashmaps
				if(ATTRIBUTE_HASH_MAP!=null && ATTRIBUTE_HASH_MAP.size() > 0) {
					ATTRIBUTE_HASH_MAP.clear();
				}
				if(ATTRIBUTE_ALLOWED_VALUE_HASH_MAP!=null && ATTRIBUTE_ALLOWED_VALUE_HASH_MAP.size() > 0) {
					ATTRIBUTE_ALLOWED_VALUE_HASH_MAP.clear();
				}
				if(PROCESSED_ATTRIBUTES!=null && PROCESSED_ATTRIBUTES.size() > 0) {
					PROCESSED_ATTRIBUTES.clear();
				}
				if(ATTRIBUTE_VALUE_HASH_MAP!=null && ATTRIBUTE_VALUE_HASH_MAP.size() > 0) {
					ATTRIBUTE_VALUE_HASH_MAP.clear();
				}
				if(ATTRIBUTE_VERB_MAP!=null && ATTRIBUTE_VERB_MAP.size() > 0) {
					ATTRIBUTE_VERB_MAP.clear();
				}
			%>