<%--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2007, 2010 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
--%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/fmt" prefix="fmt" %>
<fmt:setLocale value="en_US" />

<%--
	Construct the SKUDefiningAttribute CMC object.

	This attribute is a child object of the ProductSKU.

	This JSP Fragment is included by:
	SerializeCatalogEntrySKUDefiningAttribute.jspf
	SerializeSKUAttributes.jspf
--%>
<object objectType="SKUDefiningAttribute">

<c:set var="ATTRIBUTE_UNIQUE_ID_AND_DEFAULT_LANGUAGE_ID_KEY" value="${attribute.attributeIdentifier.uniqueID}_${param.defaultLanguageId}"/>
<c:set var="defaultLanguageAttribute" value="${ATTRIBUTE_HASH_MAP[ATTRIBUTE_UNIQUE_ID_AND_DEFAULT_LANGUAGE_ID_KEY]}"/>
	<c:choose>
		<c:when test="${defaultLanguageAttribute != null}">
			<c:choose>
				<c:when test="${(empty defaultLanguageAttribute.extendedData.attrId)}" >
					<xdata_attrId><wcf:cdata data="${defaultLanguageAttribute.attributeIdentifier.uniqueID}"/></xdata_attrId>
				</c:when>
				<c:otherwise>
					<xdata_attrId><wcf:cdata data="${defaultLanguageAttribute.extendedData.attrId}"/></xdata_attrId>
				</c:otherwise>
			</c:choose>
			<c:choose>
				<c:when test="${defaultLanguageAttribute.stringValue != null }">
					<attrValValue><wcf:cdata data="${defaultLanguageAttribute.value.value}"/></attrValValue>
				</c:when>
				<c:when test="${defaultLanguageAttribute.integerValue != null }">
					<attrValValue><wcf:cdata data="${defaultLanguageAttribute.value.value}"/></attrValValue>
				</c:when>
				<c:when test="${defaultLanguageAttribute.floatValue != null }" >
					<attrValValue><![CDATA[<fmt:formatNumber type="number" value="${defaultLanguageAttribute.value.value}d" maxFractionDigits="7" pattern="#0.#" />]]></attrValValue>
				</c:when>
			</c:choose>
		</c:when>
		<c:otherwise>
			<c:choose>
				<c:when test="${(empty attribute.extendedData.attrId)}" >
					<xdata_attrId><wcf:cdata data="${attribute.attributeIdentifier.uniqueID}"/></xdata_attrId>
				</c:when>
				<c:otherwise>
				<xdata_attrId><wcf:cdata data="${attribute.extendedData.attrId}"/></xdata_attrId>
				</c:otherwise>
			</c:choose>
			<c:choose>
				<c:when test="${attribute.stringValue != null }">
					<attrValValue><wcf:cdata data="${attribute.value.value}"/></attrValValue>
				</c:when>
				<c:when test="${attribute.integerValue != null }">
					<attrValValue><wcf:cdata data="${attribute.value.value}"/></attrValValue>
				</c:when>
				<c:when test="${attribute.floatValue != null }" >
					<attrValValue><![CDATA[<fmt:formatNumber type="number" value="${attribute.value.value}d" maxFractionDigits="7" pattern="#0.#" />]]></attrValValue>
				</c:when>
			</c:choose>
		</c:otherwise>
	</c:choose>
</object>