/**
 *-------------------------------------------------------------------
 * Licensed Materials - Property of IBM
 *
 * WebSphere Commerce
 *
 * (c) Copyright IBM Corp. 2006
 *
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
 *
 *-------------------------------------------------------------------
 */

TABLE.DTABLE {table-layout:fixed ; border: 1pt solid gray; vertical-align: top; padding: 3px; padding-top: 2px; word-wrap: break-word;}
TR.DTABLE_TR0 { background-color:white; word-wrap: break-word; vertical-align:middle; height:27px; }
TR.DTABLE_TR1 { background-color:#EFEFEF; word-wrap: break-word; vertical-align:middle; height:27px;}
TR.DTABLE_UNEDITABLE{background-color: ButtonFace; word-wrap: break-word; vertical-align:middle; height:27px; }

TD.DTABLE_TD {padding-left:7px; font-family: Verdana,Arial,Helvetica; font-size: 10pt; color: Black; border : 0px solid #18416B; word-wrap: break-word; }
TD.DTABLE_TD_NUMBER {font-family: Verdana,Arial,Helvetica; font-size: 10pt; color: Black; border : 0px solid #18416B; text-align:right; padding-right:7px; word-wrap: break-word; }
TD.COLHEAD {background-color: #1B436F; cursor:default; font-family: Verdana,Arial,Helvetica; font-size: 9pt; color: Black; border: 0pt; border-left-color:#838284; border-left-style:solid; border-left-width:1px; border-bottom-color:#838284; border-bottom-style:solid; border-bottom-width:1px; padding-left:7px; text-align:left; word-wrap: break-word; }
TD.CORNER  {background-color: #1B436F; cursor:hand; text-align: center; font-size: 9pt; width:27px; border: 0pt; border-bottom-color:#838284; border-bottom-style:solid; border-bottom-width:1px; word-wrap: break-word; }
TD.ROWHEAD {background-color: #C6C6CE; cursor:hand; text-align: center; font-size: 9pt; width:27px; border: 0pt; word-wrap: break-word; }

SELECT.DTABLE {font-family: Verdana,Arial,Helvetica; font-size: 10pt; color: black; word-wrap: break-word; width: 100%; height: 21px;}

INPUT.DTABLE_TEXT  {background-color: transparent;  font-family: Verdana,Arial,Helvetica; font-size: 10pt; color: Black; word-wrap: break-word; width: 100%; height: 21px; }
INPUT.DTABLE_NUMBER  {background-color: transparent;  font-family: Verdana,Arial,Helvetica; font-size: 10pt; color: Black; word-wrap: break-word; width: 100%; height: 21px; text-align:right; }
INPUT.DTABLE_DROPDOWN  {background-color: transparent; font-family: Verdana,Arial,Helvetica; font-size: 10pt; color: Black; word-wrap: break-word; width: 100%; height: 21px;  }
INPUT.WITH_BORDER { background-color: transparent; font-family: Verdana,Arial,Helvetica; font-size: 10pt; color: Black; word-wrap: break-word; width: 100%; font-weight: bold; height: 21px; }

DIV.TOOLTIP {
	background : InfoBackground; 
	cursor:default;
	border : 1px solid Black;
	border-bottom-style : outset;
	border-bottom-color : Black;
	border-bottom-width : 1px;
	border-right-style : outset;
	border-right-color : Black;
	border-right-width : 1px;
	padding : 3px;
	padding-top: 2px;
	font-size: 10pt; 
	position:absolute; 
	display:none; };

