<%--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2008, 2011 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
--%>

<c:set var="readonlyForTask" value="readonly=\"true\"" />
<c:set var="readonly" value="readonly=\"true\"" />
<c:set var="deletable" value="deletable=\"false\"" />
<c:if test="${param.workspaceManager == 'true'}"> 
	<c:set var="readonly" value="" />
	<c:if test="${task.usage == 1 && (task.status == 'INACTIVE' || task.status == 'TODO' || task.status == 'REDO')}">
		<c:set var="readonlyForTask" value="readonly=\"false\"" />
	</c:if>
	<c:if test="${task.usage != 2 && task.status == 'INACTIVE'}">
		<c:set var="deletable" value="deletable=\"true\"" />
	</c:if>
</c:if>

<object objectType="Task" moveable="false" ${readonlyForTask} ${deletable}>
	<reference>
		<object objectType="ChildTask">
			<childTaskId>${task.taskIdentifier.uniqueID}</childTaskId>
			<parent>
				<object objectType="TaskGroup" moveable="false" ${readonly}>
					<reference>
						<object objectType="ChildTaskGroup">
							<childTaskGroupId>${task.taskIdentifier.externalIdentifier.taskGroupIdentifier.uniqueID}</childTaskGroupId>
							<parent>
								<object objectType="Workspace" ${readonly}>
									<workspaceId>${task.taskIdentifier.externalIdentifier.taskGroupIdentifier.externalIdentifier.containerIdentifier.uniqueID}</workspaceId>
									<workspaceIdentifier><wcf:cdata data="${task.taskIdentifier.externalIdentifier.taskGroupIdentifier.externalIdentifier.containerIdentifier.externalIdentifier.identifier}"/></workspaceIdentifier>
									<wrkspcName><wcf:cdata data="${task.taskIdentifier.externalIdentifier.taskGroupIdentifier.externalIdentifier.containerIdentifier.externalIdentifier.name}"/></wrkspcName>
								</object>
							</parent>
						</object>
					</reference>
					<taskGroupId>${task.taskIdentifier.externalIdentifier.taskGroupIdentifier.uniqueID}</taskGroupId>
					<taskGroupIdentifier><wcf:cdata data="${task.taskIdentifier.externalIdentifier.taskGroupIdentifier.externalIdentifier.identifier}"/></taskGroupIdentifier>
					<taskGroupName><wcf:cdata data="${task.taskIdentifier.externalIdentifier.taskGroupIdentifier.externalIdentifier.name}"/></taskGroupName>
				</object>
			</parent>
		</object>
	</reference>
	<taskId>${task.taskIdentifier.uniqueID}</taskId>
	<taskIdentifier><wcf:cdata data="${task.taskIdentifier.externalIdentifier.identifier}"/></taskIdentifier>
	<taskName><wcf:cdata data="${task.taskDescription.name}"/></taskName>
	<taskDescription><wcf:cdata data="${task.taskDescription.description}"/></taskDescription>
	<dueDate>${task.dueDate}</dueDate>
	<completionDate>${task.completionDate}</completionDate>
	<status>${task.status}</status>
	<usage>${task.usage}</usage>
	<c:if test="${param.workspaceManager == 'true' || param.workspaceApprover == 'true'}"> 
		<c:forEach var="contributor" items="${task.taskMembers.taskMember}"> 
			<object objectType="ContributorAssociation">
				<c:set var="personId" value="${contributor.member.uniqueID}" scope="request"/>
				<associationId><wcf:cdata data="${personId}"/></associationId>
				<c:set var="objectType" value="Contributor" scope="request"/>
				<jsp:directive.include file="GetPersonById.jsp" />
			</object>
		</c:forEach>
	</c:if>
	<approvalDate>${task.approvalDate}</approvalDate>
<c:forEach var="userDataField" items="${task.userData.userDataField}">
	<x_${userDataField.typedKey}><wcf:cdata data="${userDataField.typedValue}"/></x_${userDataField.typedKey}>
</c:forEach>
</object>
