<%--
 =================================================================
  Licensed Materials - Property of IBM

  WebSphere Commerce

  (C) Copyright IBM Corp. 2011 All Rights Reserved.

  US Government Users Restricted Rights - Use, duplication or
  disclosure restricted by GSA ADP Schedule Contract with
  IBM Corp.
 =================================================================
--%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/fmt" prefix="fmt" %>
<c:set var="pglBundleName" value="com.ibm.commerce.layout.client.lobtools.properties.LayoutLOB"/>

<c:set var="objectType" value="LayoutSalesCatalog" />
<c:set var="primary" value="${catalog.primary}" />
<c:if test="${primary == 'true'}">
	<c:set var="objectType" value="LayoutCatalog" />
</c:if>
<%-- Default case: assume everything is one store --%>
<c:set var="inherited" value="" />
<c:set var="layoutOwningStoreId" value="${catalog.catalogIdentifier.externalIdentifier.storeIdentifier.uniqueID}" />
<c:if test="${param.storeId != layoutOwningStoreId}"> 
	<%-- asset store case--%>
	<c:set var="layoutOwningStoreId" value="${param.assetStoreId}" />
		<c:if test="${param.storeId != param.assetStoreId}">
			<%-- esite case--%>
			<c:set var="inherited" value="Inherited" />
		</c:if>
</c:if>

<object	objectType="${inherited}${objectType}">
	<catalogId><wcf:cdata data="${catalog.catalogIdentifier.uniqueID}"/></catalogId>
	<objectStoreId>${layoutOwningStoreId}</objectStoreId>
	<fmt:setBundle basename="${pglBundleName}" var="pglResourceBundle" />
	<fmt:message key="storePagesFor" bundle="${pglResourceBundle}"  var="store_page_name">
		<fmt:param value="${catalog.catalogIdentifier.externalIdentifier.identifier}" />
	</fmt:message>
	
	<identifier><wcf:cdata data="${store_page_name}"/></identifier>
	<ownerId><wcf:cdata data="${catalog.catalogIdentifier.externalIdentifier.ownerID}"/></ownerId>
	<c:forEach var="description" items="${catalog.description}">
		<name><wcf:cdata data="${description.name}"/></name>
		<sDesc><wcf:cdata data="${description.shortDescription}"/></sDesc>
		<lDesc><wcf:cdata data="${description.longDescription}"/></lDesc>
	</c:forEach>

</object>
