<!--
//********************************************************************
//*-------------------------------------------------------------------
//* Licensed Materials - Property of IBM
//*
//* WebSphere Commerce
//*
//* (c) Copyright IBM Corp. 2000, 2004
//*
//* US Government Users Restricted Rights - Use, duplication or
//* disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
//*
//*-------------------------------------------------------------------
-->

<%!
	private String generateValueCheckBoxes (Hashtable resources, Hashtable userRegistration, String elementName, String resourceKey) {
		String result = "";
		try {
			Hashtable hsh = (Hashtable) userRegistration.get(resourceKey);
			String[ ][ ] options = (String[ ][ ])hsh.get(com.ibm.commerce.usermanagement.commands.ECUserConstants.EC_RB_OPTIONS);
			for (int i=0; i<options.length; i++) {
				result += "<nobr><input name=\"" + elementName + "\" type=\"checkbox\" value=\"" + options[i][0] + "\">\n" + options[i][1] + "\n" + "</input></nobr>\n";
			}
		}
		catch (Exception e) {
		}
		return result;
	}
%>
