<%--
//********************************************************************
//*-------------------------------------------------------------------
//* Licensed Materials - Property of IBM
//*
//* WebSphere Commerce
//*
//* (c) Copyright IBM Corp. 2001, 2002
//*
//* US Government Users Restricted Rights - Use, duplication or
//* disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
//*
//*-------------------------------------------------------------------
//*
--%>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">
<HTML>
<HEAD>
<META content="text/html; charset=UTF-8" http-equiv=Content-Type>
   <SCRIPT>
	   var css = top.getCSSFile();
	   document.writeln("<link rel=stylesheet href='" + css + "' type='text/css'>");
   </SCRIPT>

   <SCRIPT SRC="/wcs/javascript/tools/common/Util.js"></SCRIPT>
   <SCRIPT SRC="/wcs/javascript/tools/common/ConvertToXML.js"></SCRIPT>
   <SCRIPT SRC="/wcs/javascript/tools/common/Vector.js"></SCRIPT>

</HEAD>


<FORM NAME="f1" ACTION="/webapp/wcs/tools/servlet/CSROrderPrepare" method="post">

<body onload="parent.setContentFrameLoaded(false);" class="content">
  <INPUT TYPE='hidden' NAME="XML" VALUE="">
  <INPUT TYPE='hidden' NAME="URL" VALUE="">
  <input type="hidden" name="authToken" value="" id="WC_OrderAdjustmentPageB2BForm_FormInput_authToken"/>
  <br>
  <script language="javascript">
  	parent.setContentFrameLoaded(false);
  </script>

<SCRIPT>

      document.f1.XML.value = parent.modelToXML("XML");
      document.f1.URL.value = "OrderAdjustmentRedirectB2B";
      var authToken = parent.get("authToken");
      if(defined(authToken)){
      	document.f1.authToken.value = authToken;
      }
      
      document.f1.submit();

</SCRIPT>

</body>
</HTML>



